<template>
    <v-card>
        <v-card-title>
            <span class="text-h5">Nuevo Usuario</span>
        </v-card-title>

        <v-card-text>
            <v-container>
            <v-row>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                    v-model="name"
                    label="Nombre"
                    :error-messages="nameErrores" 
                    @input="$v.name.$touch()" 
                    @blur="$v.name.$touch()"
                ></v-text-field>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                    v-model="email"
                    type="email"
                    label="Correo"
                    :error-messages="emailErrores" 
                    @input="$v.email.$touch()" 
                    @blur="$v.email.$touch()"
                ></v-text-field>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                title="Dejar en blanco si no quiere cambiar contraseña"
                >
                <v-text-field
                        color="deep-orange darken-2" 
                        :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show2 ? 'text' : 'password'" 
                        label="Contraseña"
                        v-model="password" 
                        @click:append="show2 = !show2"
                        :error-messages="passwordErrores" 
                        @input="$v.password.$touch()" 
                        @blur="$v.password.$touch()"
                    >
                </v-text-field>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-select
                    :items="roles"
                    label="Rol"
                    v-model="rol"
                    :error-messages="rolErrores" 
                    @input="$v.rol.$touch()" 
                    @blur="$v.rol.$touch()"
                ></v-select>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                    v-model="conserje"
                    label="Conserjes"
                ></v-text-field>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                    v-model="plus"
                    label="% Plus"
                    placeholder="0.00"
                    :error-messages="plusErrores" 
                    @input="$v.plus.$touch()" 
                    @blur="$v.plus.$touch()"
                ></v-text-field>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                    v-model="comision"
                    label="% Comisión"
                    placeholder="0.00"
                    :error-messages="comisionErrores" 
                    @input="$v.comision.$touch()" 
                    @blur="$v.comision.$touch()"
                ></v-text-field>
                </v-col>

                <!-- <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-switch
                    v-model="reservar"
                    :label="'Permitir reservar'"
                ></v-switch>
                </v-col> -->

                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-select
                    :items="redondeos"
                    label="Redondeo"
                    v-model="redondeo"
                ></v-select>
                </v-col>

                <!-- <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-switch
                      v-model="online"
                      :label="'Sesión abierta'"
                    ></v-switch>
                  </v-col> -->

                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-file-input
                    v-model="logo"
                    :rules="rules"
                    accept="image/png, image/jpeg, image/bmp"
                    prepend-icon="mdi-camera"
                    label="Logo de usuario"
                  ></v-file-input>              
                </v-col>

                <v-col 
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-switch
                    v-model="navegador_unico"
                    :label="'Sesión única'"
                  ></v-switch>
                </v-col>
            </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue darken-1"
            text
            @click="cancelar"
            >
            Cancelar
            </v-btn>
            <v-btn
            color="blue darken-1"
            text
            @click="save"
            >
            Guardar
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
  import { required, maxLength, email } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      show2: false,
      roles: ['cliente', 'admin'],
      redondeos: [0, 1, 5],
      usuarios: [],
      editedIndex: -1,
      logo: null,
      name: null,
      email: null,
      password: null,
      rol: null,
      conserje: null,
      plus: null,
      comision: null,
      online: 0,
      reservar: 1,
      redondeo: 5,
      navegador_unico: 1,
      editedItem: {
        name: '',
        email: null,
        password: null,
        rol: null,
        conserje: null,
        plus: null,
        comision: null,
        ocultar_precios: null,
        reservar: null,
        redondeo: null,
        navegador_unico: null,
        logo: null,
      },
      usuarios: [],

      rules: [
          value => !value || value.size < 2000000 || 'Tamaño máximo de 2 MB!',
       ],
     
    }),

    validations() {
     
      return {
        name: { required },
        password: { required },
        email: { required, email },
        rol: { required },
        plus: { required },
        comision: { required },
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
      },
      nameErrores () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('El campo Nombre es obligatorio.')
        return errors
      },
      emailErrores() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('El campo Correo es obligatorio.')
        !this.$v.email.email && errors.push('Tiene que tener formato email.')
        return errors
      },
      passwordErrores(){
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push('El campo Contraseña es obligatorio.')
        return errors
      },
      rolErrores (){
        const errors = []
        if (!this.$v.rol.$dirty) return errors
        !this.$v.rol.required && errors.push('El campo Rol es obligatorio.')
        return errors
      },
      plusErrores () {
        const errors = []
        if (!this.$v.plus.$dirty) return errors
        !this.$v.plus.required && errors.push('El campo Plus es obligatorio.')
        return errors
      },
      comisionErrores () {
        const errors = []
        if (!this.$v.comision.$dirty) return errors
        !this.$v.comision.required && errors.push('El campo Comisión es obligatorio.')
        return errors
      },
    },

    created () {
      this.initialize()

    },

    methods: {

        initialize () {

            axios
            .get('/api/usuarios', {
                headers: { Authorization: "Bearer " + this.$store.state.token }
            })
            .then(response => {
            this.usuarios = response.data
            });
        },

        cancelar()
        {
            this.$router.push({ path: `/admin/usuarios` })
        },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

            let encontrado = this.usuarios.find( usuario => usuario.email == this.email);
            if(encontrado){
             this.$toastr.e("Ya se encuentra un usuario registrado con el mismo email")
            }else{
             this.create()
            }
            
        }
      },

      create () {

         let formData = new FormData();
          formData.append('name', this.name);
          formData.append('email', this.email);
          formData.append('password', this.password);
          formData.append('rol', this.rol);
          formData.append('conserje', this.conserje);
          formData.append('plus', this.plus);
          formData.append('comision', this.comision);
          formData.append('online', this.online);
          formData.append('reservar', this.reservar);
          formData.append('redondeo', this.redondeo);
          formData.append('navegador_unico', this.navegador_unico);
          formData.append('logo', this.logo);

          const config = {
              headers: {
                  'content-type': 'multipart/form-data',
                  Authorization: "Bearer " + localStorage.getItem('access_token'),
              }
          }

          //api para enviar datos del usuario a guardar
        return new Promise((resolve, reject) => {
          axios.post('/api/usuarios', formData, config)
            .then(response => {
             
              this.usuarios = response.data
              this.$toastr.s("Usuario creado correctamente.")

              resolve(this.usuarios)
               this.$router.push({ path: `/admin/usuarios` });
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })
      },
    },
  }
</script>
