<template>
  <v-data-table
    :headers="headers"
    :items="usuarios"
    :no-results-text="'No se encontraron datos'"
    :no-data-text="'Sin resultados'"
    sort-by="name"
    class="elevation-1"
  >
    <template v-slot:item.logo="{ item }">
       <v-img width="40px" height="40px"
          :src="'../imagenes/'+item.logo"
        ></v-img>
    </template>
    <template v-slot:item.online="{ item }">
      <v-badge
          color="green"
          v-if="item.online != '0'"
          x-small
      >
      </v-badge>
      <v-badge
          color="red"
          v-else
          x-small
      >
      </v-badge>
      
    </template>
    <template v-slot:item.navegador_unico="{ item }">
      
      <v-chip
        class="ma-2"
        color="secondary"
        v-if="item.navegador_unico != '0'"
        small
      >
        Activado
      </v-chip>
      
      <v-chip
        class="ma-2"
        v-else
        small
      >
        Desactivado
      </v-chip>
      
    </template>
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Usuarios del sistema</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>

        <!-- FORMULARIO --> 
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="nuevoUsuario()"
            >
              Nuevo usuario
            </v-btn>
          </template>

          
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="name"
                      label="Nombre"
                      :error-messages="nameErrores" 
                      @input="$v.name.$touch()" 
                      @blur="$v.name.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="email"
                      type="email"
                      label="Correo"
                      :error-messages="emailErrores" 
                      @input="$v.email.$touch()" 
                      @blur="$v.email.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                   cols="12"
                    sm="6"
                    md="4"
                    title="Dejar en blanco si no quiere cambiar contraseña"
                  >
                    <v-text-field
                          color="deep-orange darken-2" 
                          :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                          :type="show2 ? 'text' : 'password'" 
                          label="Contraseña"
                          v-model="password" 
                          @click:append="show2 = !show2"
                        >
                    </v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-select
                      :items="roles"
                      label="Rol"
                      v-model="rol"
                      :error-messages="rolErrores" 
                      @input="$v.rol.$touch()" 
                      @blur="$v.rol.$touch()"
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="conserje"
                      label="Conserjes"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="plus"
                      label="% Plus"
                      placeholder="0.00"
                      :error-messages="plusErrores" 
                      @input="$v.plus.$touch()" 
                      @blur="$v.plus.$touch()"
                    ></v-text-field>
                  </v-col>
                    <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-text-field
                      v-model="comision"
                      label="% Comisión"
                      placeholder="0.00"
                      :error-messages="comisionErrores" 
                      @input="$v.comision.$touch()" 
                      @blur="$v.comision.$touch()"
                    ></v-text-field>
                  </v-col>
                 

                  <!-- <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-switch
                      v-model="reservar"
                      :label="'Permitir reservar'"
                    ></v-switch>
                  </v-col> -->

                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-select
                      :items="redondeos"
                      label="Redondeo"
                      v-model="redondeo"
                    ></v-select>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                    <v-switch
                      v-model="online"
                      :label="'Sesión abierta (al desactivar se eliminará las sesiones abiertas de todos los dispositivos)'"
                      color="green"

                    ></v-switch>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-file-input
                      v-model="logo"
                      :rules="rules"
                      accept="image/png, image/jpeg, image/bmp"
                      prepend-icon="mdi-camera"
                      label="Logo de usuario"
                    ></v-file-input>              
                  </v-col>

                  <v-col 
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-switch
                      v-model="navegador_unico"
                      :label="'Sesión única'"
                      color="secondary"

                    ></v-switch>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de querer eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Si</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <span>Sin registros</span>
      <!-- <v-btn
        color="primary"
        @click="initialize"
      >
        Actualizar
      </v-btn> -->
    </template>
  </v-data-table>
</template>
<script>
  import { required, maxLength, email } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      show2: false,
      roles: ['cliente', 'admin'],
      redondeos: [0, 1, 5],
      headers: [
        { text: 'Logo', value: 'logo', align: 'start', sortable: false  },
        {
          text: 'Nombre',
          
          sortable: false,
          value: 'name',
        },
        { text: 'Correo', value: 'email', sortable: false  },
        { text: 'Rol', value: 'rol', sortable: false  },
        { text: 'Conserjes', value: 'conserje', sortable: false  },
        { text: '% plus', value: 'plus', sortable: false  },
        { text: '% comisión', value: 'comision', sortable: false  },
        { text: 'Redondeo', value: 'redondeo', sortable: false  },
        { text: 'Online', value: 'online', sortable: false  },
        { text: 'Sesión única', value: 'navegador_unico', sortable: false  },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      usuarios: [],
      editedIndex: -1,
      name: null,
      email: null,
      password: null,
      rol: null,
      conserje: null,
      plus: null,
      comision: null,
      online: 0,
      reservar: 1,
      redondeo: 5,
      navegador_unico: 1,
      logo: null,
      editedItem: {
        name: '',
        email: null,
        password: null,
        rol: null,
        conserje: null,
        plus: null,
        comision: null,
        online: 0,
        ocultar_precios: null,
        reservar: null,
        redondeo: null,
        navegador_unico: 1,
        logo: null
      },
      rules: [
          value => !value || value.size < 2000000 || 'Tamaño máximo de 2 MB!',
       ],
     
    }),

    validations() {
     
      return {
        name: { required },
        email: { required, email },
        rol: { required },
        plus: { required },
        comision: { required },
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
      },
      nameErrores () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('El campo Nombre es obligatorio.')
        return errors
      },
      emailErrores() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('El campo correo es obligatorio.')
        !this.$v.email.email && errors.push('Tiene que tener formato email.')
        return errors
      },
      rolErrores (){
        const errors = []
        if (!this.$v.rol.$dirty) return errors
        !this.$v.rol.required && errors.push('El campo Rol es obligatorio.')
        return errors
      },
      plusErrores () {
        const errors = []
        if (!this.$v.plus.$dirty) return errors
        !this.$v.plus.required && errors.push('El campo Plus es obligatorio.')
        return errors
      },
      comisionErrores () {
        const errors = []
        if (!this.$v.comision.$dirty) return errors
        !this.$v.comision.required && errors.push('El campo Comisión es obligatorio.')
        return errors
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()

    },

    methods: {
      initialize () {

        axios
        .get('/api/usuarios', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.usuarios = response.data
        });
      },

      nuevoUsuario()
      {
          this.$router.push({ path: `/admin/nuevo-usuario` })
      },


      editItem (item) {
        this.editedIndex = this.usuarios.indexOf(item)

        let usuario = Object.assign({}, item)
        this.name = usuario.name
        this.email = usuario.email
        this.password = null
        this.rol = usuario.rol
        this.conserje = usuario.conserje
        this.plus = usuario.plus
        this.comision = usuario.comision
        this.online = parseInt(usuario.online)
        this.reservar = usuario.reservar
        this.redondeo = usuario.redondeo
        this.navegador_unico = parseInt(usuario.navegador_unico) 
        this.logo = null     
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.usuarios.indexOf(item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let user =  this.usuarios[this.editedIndex]

         axios
        .delete('/api/usuarios/'+user.id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.usuarios.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("Usuario eliminado correctamente.")


        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      close () {
        this.dialog = false
        this.editedIndex = -1
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1

      },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {
           
            this.edit()
            this.close()
            this.initialize()
        }
      },

      edit () {
          if(!this.online){
            this.online = 0
          }else{
            this.online = 1
          }

          if(!this.navegador_unico){
            this.navegador_unico = 0
          }else{
            this.navegador_unico = 1
          }

          let formData = new FormData();
          formData.append('id', this.usuarios[this.editedIndex].id);
          formData.append('name', this.name);
          formData.append('email', this.email);
          if(this.password){
            formData.append('password', this.password);
          }
          formData.append('rol', this.rol);
          if(this.conserje){
            formData.append('conserje', this.conserje);
          }
          formData.append('plus', this.plus);
          formData.append('comision', this.comision);
          formData.append('online', this.online);
          formData.append('reservar', this.reservar);
          formData.append('redondeo', this.redondeo);
          formData.append('navegador_unico', this.navegador_unico);
          formData.append('logo', this.logo);

          const config = {
              headers: {
                  'content-type': 'multipart/form-data',
                  Authorization: "Bearer " + localStorage.getItem('access_token'),
              }
          }

          //api para enviar datos del usuario a guardar
        return new Promise((resolve, reject) => {
          axios.post('/api/usuarios', formData, config)
            .then(response => {
                this.initialize()
                this.$toastr.s("Usuario editado correctamente.")

                this.usuarios = response.data

                this.$store.dispatch("getUsuario").then(response2 => {
                  this.usuarioAutenticado = response2.data
                });

                resolve(this.usuarios)
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })
      },

    },
  }
</script>