<template>
    <v-card>
        <v-card-title>
            <span class="text-h5">Nueva pregunta</span>
        </v-card-title>

        <v-card-text>
            <v-container>
               <v-row>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                >
                  <v-text-field
                    v-model="pregunta"
                    label="Pregunta"
                    :error-messages="preguntaErrores" 
                    @input="$v.pregunta.$touch()" 
                    @blur="$v.pregunta.$touch()"
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                >
                  <v-textarea
                    v-model="respuesta"
                    label="Respuesta"
                    :error-messages="respuestaErrores" 
                    @input="$v.respuesta.$touch()" 
                    @blur="$v.respuesta.$touch()"
                  ></v-textarea>
                </v-col>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                >
                <v-select
                  label="Seleccione Evento"
                  v-model="eventoId"
                  :items="eventos"
                  item-text="nombre"
                  item-value="id"
                ></v-select>
                </v-col>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                >
                  <v-switch
                    v-model="home"
                    inset
                    :label="'Mostrar en home'"
                    style="margin-left:15px"
                  ></v-switch>
                </v-col>
             </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            respuesta="blue darken-1"
            text
            @click="cancelar"
            >
            Cancelar
            </v-btn>
            <v-btn
            respuesta="blue darken-1"
            text
            @click="save"
            >
            Guardar
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      show2: false,
      preguntas: [],
      editedIndex: -1,
      pregunta: null,
      respuesta: null,
      eventoId: null,
      home: 0,
      eventos: [],
     
    }),

    validations() {
     
      return {
        pregunta: { required },
        respuesta: { required },
      }
    },

    computed: {
      
      preguntaErrores () {
        const errors = []
        if (!this.$v.pregunta.$dirty) return errors
        !this.$v.pregunta.required && errors.push('El campo Pregunta es obligatorio.')
        return errors
      },
      respuestaErrores() {
        const errors = []
        if (!this.$v.respuesta.$dirty) return errors
        !this.$v.respuesta.required && errors.push('El campo Respuesta es obligatorio.')
        return errors
      },

    },

    created () {
      this.initialize()

    },

    methods: {

        initialize () {

          axios
          .get('/api/preguntas', {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
          .then(response => {
            this.preguntas = response.data[0]
            this.eventos = response.data[1]
          });
        },

        cancelar()
        {
            this.$router.push({ path: `/admin/preguntas` })
        },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            pregunta : this.pregunta,
            respuesta : this.respuesta,
            home : this.home,
            eventoId : this.eventoId,
          }
          
          this.create(editedItem)
            
        }
      },

      create (editedItem) {

         return new Promise((resolve, reject) => {
          axios.post('/api/preguntas', editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              this.preguntas.push(editedItem)
              this.cancelar()
              this.$toastr.s("Nueva pregunta registrada correctamente.")

              resolve(this.preguntas)
            })
            .catch(error => {
              reject(error)
              this.$toastr.e("Error al crear pregunta.")

            })
        })
      },

    },
  }
</script>
