<template>
  <v-data-table
    :headers="headers"
    :items="preguntas"
    sort-by="pregunta"
    class="elevation-1"
    :no-results-text="'No se encontraron datos'"
    :no-data-text="'Sin resultados'"
  >

    <template v-slot:item.home="{ item }">
      <span v-if="item.home != '0'">Si</span>
      <span v-else>No</span>
    </template>
    <template v-slot:item.evento="{ item }">
      <span v-if="item.evento">{{ item.evento.nombre }} ({{ item.evento.fecha }})</span>
    </template>
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Preguntas y respuestas</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>

        <!-- FORMULARIO -->
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="nuevo()"
            >
              Nueva pregunta
            </v-btn>
          </template>

          
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                    <v-text-field
                      v-model="pregunta"
                      label="Pregunta"
                      :error-messages="preguntaErrores" 
                      @input="$v.pregunta.$touch()" 
                      @blur="$v.pregunta.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                    <v-textarea
                      v-model="respuesta"
                      label="Respuesta"
                      :error-messages="respuestaErrores" 
                      @input="$v.respuesta.$touch()" 
                      @blur="$v.respuesta.$touch()"
                    ></v-textarea>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                  <v-select
                    label="Seleccione Evento"
                    v-model="eventoId"
                    :items="eventos"
                    item-text="nombre"
                    item-value="id"
                  ></v-select>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                    <v-switch
                      v-model="home"
                      inset
                      :label="'Mostrar en home'"
                      style="margin-left:15px"
                    ></v-switch>
                  </v-col>
                 
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de querer eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Si</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <span>Sin registros</span>
    </template>
  </v-data-table>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      show2: false,
      headers: [
        {
          text: 'Pregunta',
          align: 'start',
          sortable: false,
          value: 'pregunta',
        },
        { text: 'Respuesta', value: 'respuesta', sortable: false  },
        { text: 'Evento', value: 'evento', sortable: false  },
        { text: 'Mostrar en home', value: 'home', sortable: false  },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      preguntas: [],
      eventos: [],
      editedIndex: -1,
      pregunta: null,
      respuesta: null,
      eventoId: null,
      home: 0,
      editedItem: {
        pregunta: '',
        respuesta: null,
        eventoId: null
      },
     
    }),

    validations() {
     
      return {
        pregunta: { required },
        respuesta: { required }
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva pregunta' : 'Editar pregunta'
      },
      preguntaErrores () {
        const errors = []
        if (!this.$v.pregunta.$dirty) return errors
        !this.$v.pregunta.required && errors.push('El campo Pregunta es obligatorio.')
        return errors
      },
      respuestaErrores() {
        const errors = []
        if (!this.$v.respuesta.$dirty) return errors
        !this.$v.respuesta.required && errors.push('El campo Respuesta es obligatorio.')
        return errors
      },
     
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()

    },

    methods: {
      initialize () {

        axios
        .get('/api/preguntas', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.preguntas = response.data[0]
          this.eventos = response.data[1]
        });
      },

      nuevo()
      {
          this.$router.push({ path: `/admin/nueva-pregunta` })
      },


      editItem (item) {
        this.editedIndex = this.preguntas.indexOf(item)

        let pregunta = Object.assign({}, item)
        this.pregunta = pregunta.pregunta
        this.respuesta = pregunta.respuesta
        this.eventoId = pregunta.evento_id
        this.home = parseInt(pregunta.home)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.preguntas.indexOf(item)
        // this.editedItem = Object.assign({}, item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let pregunta =  this.preguntas[this.editedIndex]

         axios
        .delete('/api/preguntas/'+pregunta.id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.preguntas.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("Pregunta eliminada correctamente.")


        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      close () {
        this.dialog = false
        this.editedIndex = -1
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1

      },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            pregunta : this.pregunta,
            respuesta : this.respuesta,
            home : this.home,
            eventoId : this.eventoId,
          }
           
            this.edit(editedItem)
        }
      },

      edit (editedItem) {

          //api para enviar datos del usuario a guardar
        return new Promise((resolve, reject) => {
          axios.put('/api/preguntas/'+this.preguntas[this.editedIndex].id, editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              Object.assign(this.preguntas[this.editedIndex], editedItem)
              this.close()
              // this.preguntas = response.data[0]

              this.$toastr.s("Pregunta editada correctamente.")


              resolve(this.preguntas)
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })
      },

    },
  }
</script>