<template>
<div>
    <v-sheet elevation="1" style="width: 100% !important; height: 65%;">
      <v-tabs
        background-color="white"
        dark
        show-arrows
      >
        <v-col md="8">
            <img class="my-image" v-if="$store.state.logoUser" :src="'../imagenes/'+$store.state.logoUser" alt="" >
        </v-col>
        <v-col class=" text-uppercase font-weight-bold centrar-menu">
          <span @click="ir('historial')" style="cursor:pointer"> Historial de pedidos</span>
        </v-col>
        <v-col class="font-weight-bold centrar-menu text-right" v-if="telefono">
            Tlf: {{ telefono }}
        </v-col>
        <v-col class="font-weight-bold centrar-menu text-right" >
           {{ $store.state.nombreUser }}
        </v-col>
        <div class="font-weight-bold centrar-menu" >
          <v-btn icon @click="logout()" color="black">
            <v-icon style="font-size: 18px; margin-right: 20px;">
              mdi-export
            </v-icon>
          </v-btn>
        </div>
      </v-tabs>
    </v-sheet>
    <v-sheet elevation="1" style="width: 100% !important;">
      <v-tabs
        background-color="black"
        dark
        show-arrows
      >
        <v-tabs-slider color="black"></v-tabs-slider>
        <v-tab class="estiloMenu" @click="ir('eventos')">
          Home
        </v-tab>
        <v-tab class="estiloMenu" @click="ir('admin/usuarios')" v-if="$store.state.usuarioRol == 'admin' ">
          Usuarios
        </v-tab>
         <v-tab class="estiloMenu" @click="ir('admin/categorias')" v-if="$store.state.usuarioRol == 'admin' ">
          Categorias
        </v-tab>
         <v-tab class="estiloMenu" @click="ir('admin/grupos')" v-if="$store.state.usuarioRol == 'admin' ">
          Grupos
        </v-tab>
        <v-tab class="estiloMenu" @click="ir('admin/preguntas')" v-if="$store.state.usuarioRol == 'admin' ">
          Preguntas y respuestas
        </v-tab>


        <v-tab class="estiloMenu" @click="ir('admin/mapas')" v-if="$store.state.usuarioRol == 'admin' ">
          Mapas
        </v-tab>

        <v-tab class="estiloMenu" @click="ir('admin/tipos-eventos')" v-if="$store.state.usuarioRol == 'admin' ">
          Tipos de eventos
        </v-tab>

        <v-tab class="estiloMenu" @click="ir('admin/administrar-eventos')" v-if="$store.state.usuarioRol == 'admin' ">
          Eventos
        </v-tab>

        <v-col class="text-right">
          <v-btn x-small @click="ir('admin/configuracion')" v-if="$store.state.usuarioRol == 'admin' ">
            Configuración
          </v-btn>
        </v-col>
       
      </v-tabs>
    </v-sheet>
 </div>
</template>
<script>
export default {
  data: () => ({
  }),
  props:{
    telefono: { 
        type: String,
        default: null
    },
    logo: {
        type: String,
        default: null
    },
  },
  methods: {
    logout: function(){
        this.$store.dispatch("destruirToken").then(response => {
          this.$router.push({ name: "login" });
        });
    },
    ir: function(ruta) {
       this.$router.push({ path: `/${ruta}` })
    },

  },

}
</script>
<style scoped>
    .centrar-menu{
        align-content: center;
        align-items: center;
        display: flex;
        color: black;
        font-size: 14px;
    }
    .estiloMenu{
      padding: 0px;
      font-size: 12px;
      font-weight: 600;
    }

    .my-image {
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 160%;
    width: auto ;
    text-align: center;
   
}
</style>