<template>
  <v-row justify="space-around">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          dark
          v-bind="attrs"
          v-on="on"
          icon
        >
          <v-icon color="black" v-if="nota">mdi-clipboard </v-icon>
          <v-icon color="black" v-else>mdi-clipboard-outline </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-list>
          <v-list-item v-if="reservacion">
            <span><strong>Evento:</strong> {{ reservacion.evento.nombre }}</span> 
          </v-list-item>
          <v-list-item v-if="reservacion">
            <span><strong>Usuario:</strong> {{ reservacion.usuario.name }}</span> 
          </v-list-item>
          <v-list-item v-if="reservacion && reservacion.conserje">
            <span><strong>Conserje:</strong> {{ reservacion.conserje }}</span> 
          </v-list-item>
          <v-list-item v-if="reservacion">
            <span><strong>Fecha y hora:</strong> {{ reservacion.created_at | moment('dddd, D MMMM YYYY HH:mm:ss')   }}</span> 
          </v-list-item> 
          <v-list-item v-if="reservacion">
            <span><strong>Total a pagar:</strong> {{ totalApagar() }}</span> 
          </v-list-item>
          <v-list-item>
            <v-list-item-title>
              <v-textarea
                v-model="notaSobreescrita"
                clearable
                clear-icon="mdi-close-circle"
                rows="2" 
            ></v-textarea>
            </v-list-item-title>
          </v-list-item>
        </v-list>

        <v-btn
          text
          @click="menu = false"
        >
          Cerrar
        </v-btn>
        <v-btn
          color="primary"
          text
          @click="guardarNota()"
        >
          Guardar
        </v-btn>
      </v-card>  
    </v-menu>

  </v-row>
</template>
<script>
  import moment from 'moment';
  moment.locale('es');  

  export default {
    data: () => ({
      menu: false,
      notaRecibida: null,
      dateFormatConfig:  {
        dayOfWeekNames: [
          'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves',
          'Viernes', 'Sábado'
        ],
        dayOfWeekNamesShort: [
          'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'
        ],
        monthNames: [
          'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
          'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
        ],
        monthNamesShort: [
          'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
        ]
      },
    }),
    props:{
        nota: {
            type: String,
            default: null
        },
        reservacion: {
          type: Object,
          default: null
        },
        usuario: {
          type: Object,
          default: null
        },
        precioNeto: {
          type: Number,
          default: null
        },
        ticketId: {
          type: Number,
          default: null
        }
    },
    computed: {
      notaSobreescrita: {
        get(){
          return this.notaRecibida 
        },
        set(newNote){
          this.notaRecibida = newNote
        } 
      }
      
      
    },

    created() {
      setTimeout(() => {
        this.notaRecibida = this.nota
      }, 1000); 
    },
  
    methods:{

      totalApagar()
      {
        let usuario = this.reservacion.usuario
        let neto, plus, precioPlus, comision, precioComision, plusTexto, comisionTexto

        if(this.precioNeto % 1 != 0){
          neto = parseFloat(this.precioNeto)
        }
        else{
          neto = parseInt(this.precioNeto)
        }

        plus = neto * usuario.plus

        if(plus % 1 != 0){
          plus = parseFloat(plus).toFixed(1)
          precioPlus = neto + parseFloat(plus)
        }
        else{
          plus = parseInt(plus)
          precioPlus = neto + parseInt(plus)
        }

        comision = precioPlus * usuario.comision
        precioComision = precioPlus + comision

        plusTexto = usuario.plus*100
        comisionTexto = usuario.comision*100

        plusTexto = plusTexto.toFixed(1) + '% plus'
        comisionTexto = comisionTexto.toFixed(1) + '% comisión'

         return neto+' € + '+plusTexto+' + '+comisionTexto+' = '+precioComision+' €'

      },
      guardarNota(){
        this.menu = false

        this.$emit('guardarNota', this.ticketId, this.notaSobreescrita)
      }
    }
  }
</script>