<template>
  <v-row justify="space-around">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          dark
          v-bind="attrs"
          v-on="on"
          icon
        >
          <v-icon color="black">mdi-currency-eur</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-title>
              <div class="mt-8">
                <span>
                  <v-autocomplete
                    v-model="userSeleccionado"
                    :items="usuarios"
                    dense
                    label="Usuario"
                    item-text="name"
                    item-value="id"
                    @change="seleccionandoUser()"
                    :no-data-text="'No se encontró'"
                  ></v-autocomplete>
                </span>
              </div>
            </v-list-item-title>
          </v-list-item>
          <v-list-item>
            <div v-if="comision">
              <strong>Precio neto:</strong> {{ precioNeto }} €
              <br>
              <strong>+{{ plusTexto }}:</strong> {{ precioNeto+' + '+plus }} = {{ precioPlus }} € 
              <br>
              <strong>+{{ comisionTexto }}:</strong>  {{ precioPlus+' + '+comision }} = {{ precioComision }} €
              <br>
              <strong>Precio Total:</strong>  {{ precioComision * this.ticket.grupo.numero }} €
            </div>
          </v-list-item>
        </v-list>

        <v-btn
          text
          @click="cerrar()"
        >
          Cerrar
        </v-btn>
      </v-card>  
    </v-menu>

  </v-row>
</template>
<script>
  export default {
    data: () => ({
      menu: false,
      userSeleccionado: null,
      precioNeto: null,
      plus: null,
      precioPlus: null,
      comision: null,
      precioComision: null,
      plusTexto: null,
      comisionTexto: null
    }),
    props:{
        ticket: {
            type: Object,
            default: null
        },
        usuarios:  {
            type: Array,
            default: []
        },
    },
    created: function(){
    },
    
    methods: {
     seleccionandoUser(){
       let usuario = this.usuarios.find( user => user.id === this.userSeleccionado );
       let neto, plus

        this.precioNeto = this.ticket.precioUd

        if(this.precioNeto % 1 != 0){
          neto = parseFloat(this.precioNeto)
        }
        else{
          neto = parseInt(this.precioNeto)
        }

        this.plus = neto * usuario.plus

        if(this.plus % 1 != 0){
          this.plus = parseFloat(this.plus).toFixed(1)
          this.precioPlus = neto + parseFloat(this.plus)
        }
        else{
          this.plus = parseInt(this.plus)
          this.precioPlus = neto + parseInt(this.plus)
        }

        this.comision = this.precioPlus * usuario.comision
        if(this.comision % 1 != 0){
          this.comision = parseFloat(this.comision).toFixed(2)
          this.precioComision =  this.precioPlus + parseFloat(this.comision)
        }
        else{
          this.comision = parseInt(this.comision)
          this.precioComision =  this.precioPlus + parseInt(this.comision)
        }

        let resultadoConComisiones = this.precioComision

       //---------CALCULAR REDONDEO---------
        let ultimaCifra, redondeoRealizado, resta

        if(usuario.redondeo == 5)
        {

          ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-4)

          // if(resultadoConComisiones % 1 == 0)
          //   ultimaCifra = resultadoConComisiones.toString().slice(-1)
          // else
          //   ultimaCifra = resultadoConComisiones.toString().slice(-4)

          if(Number(ultimaCifra) > 5)
          {
            resta = 10 - Number(ultimaCifra) 
          }
          else
          {
            resta = 5 - Number(ultimaCifra) 
          }

          redondeoRealizado = resultadoConComisiones + resta
        }  
        else if(usuario.redondeo == 1)
        {
          ultimaCifra = 0
          if(resultadoConComisiones % 1 != 0)
            ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-3)
            
          resta = resultadoConComisiones - Number(ultimaCifra) 

          redondeoRealizado = resta + 1

        }
        else
        {
          ultimaCifra = 0
          if(resultadoConComisiones % 1 != 0)
            ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-3)
            
          resta = resultadoConComisiones - Number(ultimaCifra) 

          redondeoRealizado = resta
        }

        this.precioComision = parseInt(redondeoRealizado.toFixed(2))

       //-----------TEXTOS------------------

       this.plusTexto = usuario.plus*100
       this.comisionTexto = usuario.comision*100

       this.plusTexto = this.plusTexto.toFixed(1) + '% plus'
       this.comisionTexto = this.comisionTexto.toFixed(1) + '% comisión'
     },
     cerrar(){
        this.menu = false
        this.userSeleccionado = null
        this.precioNeto = null
        this.plus = null
        this.precioPlus = null
        this.comision = null
        this.precioComision = null
        this.plusTexto = null
        this.comisionTexto = null
      }
    }
  }
</script>