<template>
  <v-row justify="center">
    <v-col md="11" v-if="preguntas.length != 0">
      <v-expansion-panels inset>
        <v-expansion-panel
        v-for="(item,i) in preguntas"
          :key="i">
          <v-expansion-panel-header>
            
            <span >{{ item.pregunta }}</span>
            
          </v-expansion-panel-header>
          
          <v-expansion-panel-content>
            <v-text-field
              v-model="item.pregunta"
              label="Pregunta"
              v-if="editar == i"
            ></v-text-field>
            <v-textarea
              v-model="item.respuesta"
              label="Respuesta"
              v-if="editar == i"
            ></v-textarea>
            <span v-else>{{ item.respuesta }}</span>
            
            <v-icon color="black" v-if="usuario && usuario.rol == 'admin' && editar == null" @click="editar=i">mdi-pencil </v-icon> 
            <div v-else-if="usuario && usuario.rol == 'admin' && editar == i">
              <v-icon color="black" @click="guardar(item)">mdi-checkbox-marked</v-icon> 
              <v-icon color="black" @click="editar=null">mdi-close-box</v-icon> 
            </div>
            
          </v-expansion-panel-content>
        </v-expansion-panel>   
      </v-expansion-panels>
    </v-col>
  </v-row>
</template>
<script>
export default {
   
  data: () => ({
      editar: null
  }),
  props: {
    usuario: {
      type: Object,
      default: null
    },
    preguntas: {
      type: Array,
      default: null
    },
  },
  methods:{
    guardar(item){

      // this.$emit('guardarPregunta', item)
      axios
        .put('/api/preguntas/'+item.id, {
            pregunta: item,
          }, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          }
        )
        .then(response => {
          
          // this.preguntas = response.data
          this.editar = null

        })
        .catch(error => {
          alert('Error al editar pregunta y respuesta')
          console.log(error)
        })

    }
  }
}   
</script>

<style scoped>
  .v-expansion-panel-header{
    background-color: #ffd129;
    color: white;
    border: 2px solid black;
  }

  .v-expansion-panel-header__icon{
    color: white;
  }
</style>