<template>
  <v-row justify="space-around">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          dark
          v-bind="attrs"
          v-on="on"
          icon
        >
          <v-icon color="black">mdi-home</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-title>
              <div class="mt-8">
                <span>
                  <v-autocomplete
                    v-model="userSeleccionado"
                    :items="usuarios"
                    dense
                    label="Usuario"
                    item-text="name"
                    item-value="id"
                    :no-data-text="'No se encontró'"
                  ></v-autocomplete>
                </span>
              </div>
            </v-list-item-title>
          </v-list-item>
        </v-list>

        <v-btn
          text
          @click="menu = false"
        >
          Cerrar
        </v-btn>
        <v-btn text 
          color="primary"
          @click="reservar">
          Reservar
        </v-btn>
      </v-card>  
    </v-menu>

  </v-row>
</template>
<script>
  export default {
    data: () => ({
      menu: false,
      userSeleccionado: null,
      isLoading: false,
      search: null,
    }),
    props:{
        ticket: {
            type: Object,
            default: null
        },
        grupo: {
            type: Object,
            default: null
        },
        usuarios:  {
            type: Array,
            default: []
        },
    },
    created: function(){
    },
    
    methods: {
      reservar() {
        let respuesta = {
          ticket: this.ticket,
          grupo: this.grupo,
          usuario: this.userSeleccionado
        }
        this.$emit("click", respuesta);

        this.menu = false
      }
    }
  }
</script>