<template>
     <v-simple-table
         dense
        >
        <template v-slot:default >
          <thead v-for="(item, i) in categorias" :key="i">
              <tr @click="arrTickets(item.id)">
              <th class="text-center nombre-categoria text-uppercase" 
              colspan="6"
              :style="'background-color: '+item.color +'; cursor: pointer; border: 2px solid;' ">
                {{ item.nombre }}
              </th>
            </tr> 
            <tr v-show="mostrarTickets(item.id)">
              <th class="text-center bordes-header">
                <div class="mt-1" >
                  N° Tickets
                </div>
                
              </th>
              <th class="text-center bordes-header">
                <div class="mt-1" >Sector</div>
              </th>
              <th class="text-center bordes-header">
                <div class="mt-1" >Juntas</div>
              </th>
              <th class="text-center bordes-header">
                <div class="mt-1" >Formato</div>
              </th>
              <th class="text-center bordes-header">
                <div class="mt-1" >Precio / ud</div>
              </th>
              <th class="text-center bordes-header">
                <div class="mt-1" >Precio Total</div>
              </th>
              <th colspan="3"></th>

            </tr>
            <tr v-if="$parent.catId == item.id && $parent.sinDatos">
              <th colspan="6" class="text-center"
                style="padding: 0; border: 2px solid;">
                {{ $parent.sinDatos }}
              </th>
            </tr> 
            <v-progress-linear
                indeterminate
                color="teal"
                v-show="$parent.catId == item.id"
                v-if="$parent.cargandoTickets"
            ></v-progress-linear>

            <template v-for="(item2, idx) in $parent.gruposFiltrados" >
          
              <tr :key="idx" v-show="$parent.catId == item.id"
                :style="idx%2 != 0 ? 'background-color: rgb(240 230 140);' : ''"
              >
                  <td :class="idx == $parent.gruposFiltrados.length - 1 ? 'text-center bordes-left': 'text-center bordes-left'">
                    {{ item2.grupo.numero }}
                  </td>
                  <td :class="idx == $parent.gruposFiltrados.length - 1 ? 'text-center' : 'text-center' ">
                    {{ item2.sector }}
                  </td>
                  <td :class="idx == $parent.gruposFiltrados.length - 1 ? 'text-center' : 'text-center' ">
                    {{ item2.juntas }}
                  </td>
                  <td :class="idx == $parent.gruposFiltrados.length - 1 ? 'text-center' : 'text-center' ">
                    {{ item2.formato }}
                  </td>
                  <td 
                    :class="idx == $parent.gruposFiltrados.length - 1 ? 'text-center' : 'text-center' "
                  >
                  <span v-if="item2.precioUd != 0">
                    {{ precioUnitario(item2) + ' €'  }} 
                  </span>
                  <span v-else>
                    - 
                  </span>
                  </td>
                  <td 
                    :class="idx == $parent.gruposFiltrados.length - 1 ? 'text-center bordes-right': 'text-center bordes-right'" 
                  >

                    <span v-if="item2.precioUd != 0">
                      {{ obtenerPrecioFinal(item2) + ' €'  }}
                    </span>
                    <span v-else>
                      -
                    </span>
                  </td>

                  <td 
                    :class="item2.id == ticketAreservar ? 'text-center colorReservarActivado' : 'text-center colorReservar'"
                    style="cursor:pointer;"
                    @click="reservar(item2)"
                    v-if="item2.precioUd != 0"
                  >
                    Reservar
                  </td>
                  <td class="text-center" v-else-if="item2.precioUd == 0"> Consultar por tlf</td>
              </tr>

              <tr v-show="item2.id == ticketAreservar && $parent.catId == item.id">
                <td colspan="3" style="border-left: 2px solid;">
                  <v-text-field v-model="conserjeReserva" 
                  placeholder="Nombre del conserje"></v-text-field>
                </td>
                <td colspan="2"
                  :style="conserjeReserva ? 'background-color: #0eab29b8; cursor:pointer;' : ''"
                  @click="finalizarReserva(item2)"
                  v-if="!reservando"
                >
                  <div style="display: grid;
                      height: 100%;
                      align-items: center;
                      text-align: center;"
                  >
                    Click aquí para finalizar la reserva
                  </div>
                </td>
                <td colspan="2"
                  :style="conserjeReserva ? 'background-color: #0eab29b8; cursor:pointer;' : ''"
                  v-else
                >
                  <div style="display: grid;
                      height: 100%;
                      align-items: center;
                      text-align: center;"
                  >
                    Reservando...
                  </div>
                </td>
                <td style="background-color: darkgray; cursor:pointer; border-right: 2px solid"
                  @click="ticketAreservar = null"
                >
                  <div style="display: grid;
                      height: 100%;
                      align-items: center;
                      text-align: center;"
                  >
                    Atrás
                  </div>
                </td>
              </tr> 
              <tr v-show="item2.id == ticketAreservar && $parent.catId == item.id">
                <td colspan="6" style="border-left: 2px solid; border-right: 2px solid">
                  <span>
                    <strong style="color:red;">
                      Importante:
                    </strong>
                    {{ notaFormato }}

                    <a :href="enlace" v-if="item2.formato == 'Móvil'" class="text-decoration-underline" target="_blank">enlace</a>
                  </span>
                </td>
              </tr> 
            </template> 
            <template v-for="item3 in $parent.gruposReservados">
                <tr 
                v-show="$parent.catId == item.id" :style="'background-color: rgb(61 185 83);'">
                <td :class="'text-center bordes-left'">
                  {{ item3.grupo.numero }}
                </td>
                <td :class="'text-center'">
                  {{ item3.sector }}
                </td>
                <td :class="'text-center'">
                  {{ item3.juntas }}
                </td>
                <td :class="'text-center'">
                  {{ item3.formato }}
                </td>
                <td 
                  :class="'text-center'"
                >
                  <span v-if="item3.precioUd != 0">
                    {{ precioUnitario(item3)+ ' €'  }}
                  </span>
                  <span v-else>
                    -
                  </span>
                </td>
                <td 
                  :class="'text-center bordes-right'" 
                >
                  <span v-if="item3.precioUd != 0">
                    {{ obtenerPrecioFinal(item3) + ' €'  }}
                  </span>
                  <span v-else>
                    -
                  </span>
                </td>
              </tr>
            </template> 
          </thead>
          <thead>
            <tr>
              <th colspan="6" style="border-top: 2px solid; border-bottom: 0px"></th>
            </tr>
          </thead>
        </template>
      </v-simple-table>
</template>
<script>
export default {
  
  data: () => ({
    ticketAreservar: null,
    notaFormato: null,
    conserjeReserva: null,
    enlace: null,
    reservando: false
  }),
  props:{
    categorias: {
        type: Array,
        default: []
    },
    tickets: {
        type: Array,
        default: []
    }
  },
  beforeCreate(){
      
      axios
        .get('/api/configuracion')
        .then(response => {
          this.enlace = response.data.enlace
      });
  },
  computed:{},
  methods: {
    arrTickets(id){
      this.$parent.catId = id;
      this.$parent.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.$parent.catId && ticket.estado == 1 )  
      this.$parent.ticketsStock = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.$parent.catId && ticket.estado == 2)
      
      this.$parent.gruposFiltrados.sort(function(a, b) { return b.grupo.numero - a.grupo.numero; })
      
      let obtenerTicketReservado
      this.$parent.gruposReservados = []
      this.$parent.reservasDeUsuarioAutenticado.forEach(elemento => {
        obtenerTicketReservado = this.tickets.find(ticket => ticket.grupo.categoria_evento_id == this.$parent.catId && ticket.id == elemento.ticket_id )
        if(obtenerTicketReservado)
          this.$parent.gruposReservados.push(obtenerTicketReservado)
      });
                
      this.$parent.sinDatos = null
      if(this.$parent.gruposFiltrados.length == 0)
          this.$parent.sinDatos = 'Sin tickets disponibles'
    },

    mostrarTickets(id){

      if(id == this.$parent.catId){
        return true
      }
      
    },

    reservar(ticket)
    {
      this.ticketAreservar = ticket.id

      if(ticket.formato == 'Papel')
      {
        this.notaFormato = 'El cliente podrá quedarse con el ticket original de recuerdo'
      }
      else if(ticket.formato == 'Móvil')
      {
        this.notaFormato = 'El cliente necesitará un móvil smartPhone desde donde se descargará los tickets electrónicos. Tutorial para la descarga ver video en este '
      }
      else
      {
        this.notaFormato = 'Las tarjetas deben ser devueltas la misma noche del evento. Solo serán válidas para clientes Europeos y Latinoamericanos. Otras nacionalidades consultar'  
      }
      
    },

    finalizarReserva(ticket)
    {

      if(this.conserjeReserva){
        this.reservando = true
       
         axios.post('/api/reservacion', {
          usuario: this.$parent.usuarioAutenticado.id,
          ticket: ticket.id,
          evento: this.$parent.evento.id,
          conserje: this.conserjeReserva 
        },
        {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        })
        .then(response => {

          if(response.status == 200){

            this.ticketAreservar = null
            this.conserjeReserva = null
            this.reservando = false

            if(response.data == 'Éste ticket ya ha sido reservado o no está disponible.')
            {
              alert(response.data)
            }
            else
            {
              //se vuelve a filtrar el ticket ya que no estara disponible
              this.$parent.obtenerTicketsFiltrados(this.$parent.catId)

              //pasar el ticket a grupos reservados
              //debo actualizar las reservas y luego filtrar para
              //obtener el grupoReservados por categoria

              this.$parent.reservasDeUsuarioAutenticado = response.data

              let obtenerTicketReservado
              this.$parent.gruposReservados = []
              this.$parent.reservasDeUsuarioAutenticado.forEach(elemento => {
                obtenerTicketReservado = this.tickets.find(ticket => ticket.grupo.categoria_evento_id == this.$parent.catId && ticket.id == elemento.ticket_id )
                if(obtenerTicketReservado)
                  this.$parent.gruposReservados.push(obtenerTicketReservado)
              });

              //pasar de stock a disponible
              setTimeout(() => {
                this.$emit('deStockAdisponible', ticket.grupo)
              }, 1000); 

            }

          }
          
        })
        .catch(error => {
          console.log(error)
        })
      }
      
    },

    obtenerCategoriaInicial(){
      
      this.catId = this.categorias ? this.categorias[0].id : null
      this.$parent.obtenerTicketsFiltrados(this.catId)

    },

    precioUnitario(ticket){
    
      let resultado = this.obtenerPrecioFinal(ticket)/ticket.grupo.numero
      return parseInt(resultado)
    },

    obtenerPrecioFinal(ticket){
      let numero = Number(ticket.grupo.numero)
      let precioUd = Number(ticket.precioUd)

      //sumar al multiplicado los porcentajes de comision y plus

      let usuario = this.$parent.usuarioAutenticado
      let neto, plus, precioPlus, comision, precioComision

      if(precioUd % 1 != 0){
        neto = parseFloat(precioUd)
      }
      else{
        neto = parseInt(precioUd)
      }

      plus = neto * usuario.plus

      if(plus % 1 != 0){
        plus = parseFloat(plus).toFixed(1)
        precioPlus = neto + parseFloat(plus)
      }
      else{
        plus = parseInt(plus)
        precioPlus = neto + parseInt(plus)
      }

      comision = precioPlus * usuario.comision

      if(comision % 1 != 0){
        comision = parseFloat(comision).toFixed(2)
        precioComision = precioPlus + parseFloat(comision)
      }else{
        comision = parseInt(comision)
        precioComision = precioPlus + parseInt(comision)

      }

      let resultadoConComisiones = precioComision 

      //CALCULAR REDONDEO
      let ultimaCifra, redondeoRealizado, resta

      if(usuario.redondeo == 5)
      {

        // if(resultadoConComisiones % 1 == 0)
        //   ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-4)
        // else
        //   ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-4)

        ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-4)

        if(Number(ultimaCifra) > 5)
        {
          resta = 10 - Number(ultimaCifra) 
        }
        else
        {
          resta = 5 - Number(ultimaCifra) 
        }

        redondeoRealizado = resultadoConComisiones + resta


      }  
      else if(usuario.redondeo == 1)
      {
        ultimaCifra = 0
        if(resultadoConComisiones % 1 != 0)
          ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-3)
          
        resta = resultadoConComisiones - Number(ultimaCifra) 

        redondeoRealizado = resta + 1

      }
      else
      {
        ultimaCifra = 0
        if(resultadoConComisiones % 1 != 0)
          ultimaCifra = resultadoConComisiones.toFixed(2).toString().slice(-3)
          
        resta = resultadoConComisiones - Number(ultimaCifra) 

        redondeoRealizado = resta
      }


      let multiplicado = numero * redondeoRealizado.toFixed(2)

      // console.log(precioUd, resultadoConComisiones.toFixed(2), redondeoRealizado.toFixed(2), multiplicado)

      return parseInt(multiplicado)

    },

  }
}
</script>
<style scoped>
 .bordes-left{
    border-left: 2px solid;
  }
  .bordes-right{
    border-right: 2px solid;
  }
  .bordes-bottom{
    border-bottom: 2px solid;
  }
  
  .bordes-header{
    border: 2px solid;
    border-bottom: 2px solid !important;
    background-color:khaki;
  }
  .bordes-bottom-clarito{
    border-bottom:1px solid #e0e0e0;
  }
  table>tbody>tr>td{
    padding: 0px 0px!important;
  }
  .nombre-categoria{
    
    color: black !important;
    font-size: 14px !important;
  }

  td{
    border: 1px solid #b5b3aa;
  }

  .colorReservar{
    background-color: gold;
  }

  .colorReservar:hover{
    background-color: #0eab29b8;
  }

  .colorReservarActivado{
    background-color: #0eab29b8;
  }

  .fuente-elDoble{
    font-size: 1.2em;
  }

</style>