<template>
    <v-simple-table
        dense >
        <template v-slot:default>

          <thead v-for="categoria in categorias" :key="categoria.nombre" >
            
            <!-- Fila de nombre categoria -->
            <tr>
              <th colspan="3" style="border-bottom: 0px;"></th>
              <th class="text-center cursor bordes-header nombre-categoria text-uppercase"
              colspan="6" @click="arrGrupo(categoria.id)"
              :style="'background-color: '+categoria.color"
              >
                {{ categoria.nombre }}
              </th>
              <th colspan="3" style="border-bottom: 0px;"></th>
            </tr>

            <tr v-if="$parent.catId == categoria.id">
              <th colspan="3" style="border-bottom: 0px;"></th>
              <th class="text-center bordes-header"><div class="mt-1" >N° Tickets</div></th>
              <th class="text-center bordes-header"><div class="mt-1" >Sector</div></th>
              <th class="text-center bordes-header"><div class="mt-1" >Juntas</div></th>
              <th class="text-center bordes-header"><div class="mt-1" >Formato</div></th>
              <th class="text-center bordes-header"><div class="mt-1" >Precio / ud</div></th>
              <th class="text-center bordes-header"><div class="mt-1" >Precio Total</div>
              </th><th colspan="3" style="border-bottom: 0px;"></th>
            </tr> 

            <template v-for="grupo in $parent.gruposPorCategoria">
              
              <!--Listado de TICKETS DISPONIBLES -->
              <tr v-for="(item, index) in $parent.ticketsDisponibles" v-if="item.grupo_id == grupo.id && $parent.catId == categoria.id">
               
                <!-- ---------------------------------------Iconos lado izquierdo----------------------------------------- -->
                
                <th :class="'text-center ceroPadding'" style="padding: 5px 6px 0 0 !important; border-bottom: 0px">
                  <plus-comision-component
                      :ticket="item"
                      :usuarios="$parent.usuarios"
                  />
                </th>
                <th :class="'text-center ceroPadding'" style="padding: 5px!important;  border-bottom: 0px">
                  <nota-component
                    :ticketId="item.id"
                    :nota="item.descripcion"
                    :reservacion="null"
                    :usuario="null"
                    :precioNeto="null"
                    @guardarNota="guardarNota"
                  />
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" v-if="editarTicket != item.id" @click="editarTicket = item.id">
                  <v-icon color="black">mdi-pencil</v-icon>
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" v-else >
                  <div @click="guardarTicket(item)">
                     <v-icon color="black">mdi-checkbox-marked</v-icon>
                  </div>
                  <div @click="editarTicket = null">
                    <v-icon color="black">mdi-close-box</v-icon>
                  </div>
                </th>
                
               <!-- ------------------------------------------------------------------------------------------------------------------>

                <th @click="mostrarTicketEdicion(grupo)"
                  :class="'text-center cursor bordes-left colorSegunEstado'+item.estado"
                  v-if="editarTicket != item.id"
                >
                  {{ grupo.numero }}
                </th>
                <th v-else :class="'text-center cursor bordes-left colorSegunEstado'+item.estado" >
                   <v-text-field
                      v-model="item.grupo.numero"
                      :error="validarGrupo"
                      label="Número"
                      type="number">
                    </v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.sector }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field
                      v-model="item.sector"
                      :error="validarSector"
                      label="Sector"
                      required
                    >
                   </v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.juntas }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field
                    v-model="item.juntas"
                    :error="validarJuntas"
                    label="Juntas"
                    required>
                   </v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.formato }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-select
                    v-model="item.formato"
                    :items="opcionesFormato"
                    label="N° máximo tickets disponibles:"
                    :error="validarFormato"
                    required
                  > 
                  </v-select> 
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.precioUd + ' €' }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field
                   v-model="item.precioUd"
                   type="number"
                   label="Precio Ud"
                   :error="validarPrecioUd"
                   required></v-text-field>
                </th>
                <th :class="'text-center bordes-right colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ obtenerPrecioFinal(item) + ' €' }}
                </th>
                <th :class="'text-center bordes-right colorSegunEstado'+item.estado" v-else>
                   <v-text-field
                   v-model="item.precioFinal"
                   label="Precio total"
                   disabled></v-text-field>
                </th>

                <!-- ---------------------------------------------Iconos lado derecho------------------------------------------- -->
                <th 
                  :class="'text-center ceroPadding'"
                  title="Eliminar ticket"
                  @click="eliminarTickets(item)"
                  style="border-bottom: 0px"
                >
                  <v-icon color = "red">mdi-close-circle</v-icon>
                </th>
                <th :class="'text-center ceroPadding'" style="padding: 5px!important; border-bottom: 0px" title="Reservar ticket">
                  <reserva-component
                      :grupo="grupo"
                      :ticket="item"
                      :usuarios="$parent.usuarios"
                      @click="reservar"
                      v-if="!$parent.reservando || item.id != $parent.reservando"
                  />
                  <v-progress-circular
                    v-else-if="$parent.reservando && item.id == $parent.reservando"
                    indeterminate
                    color="black"
                    :size="15"
                    :width="1"
                  ></v-progress-circular>
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" @click="aStock(item)" title="Mover a stock"><v-icon color="black">mdi-briefcase</v-icon></th>
              </tr>

              <!-- ------------------------------------------------------------------------------------------------------------------------------->

              <tr v-for="item in $parent.gruposCero" v-if="item == grupo.id && $parent.catId == categoria.id">
                  <th colspan="3" style="border-bottom: 0px;" ></th>
                  <th @click="mostrarTicketEdicion(grupo)" :class="'text-center cursor bordes-left'">Grupo {{grupo.numero}}
                   
                  </th>
                  <th colspan="5" :class="'bordes-right'"></th>
                  <th colspan="3" style="border-bottom: 0px;">

                    <v-icon
                      small
                      @click="eliminarGrupo(item)"
                      v-if="mostrarSoloSiNoHayTicketReservado(grupo, categoria)"
                    >
                      mdi-delete
                    </v-icon>
                  </th>
              </tr> 

              <tr v-if="siEdicion == grupo.id && $parent.catId == categoria.id && agregarTicketStock != grupo.id">
                <th colspan="3" style="border-bottom: 0px;" class="sin-bordes-bottom-clarito" ></th>
                <th colspan="6" class="bordes-left bordes-right">
                  <div v-if="permitirDisponibilidad == grupo.id">
                    <v-row >
                      <v-col cols="5">
                        <v-select
                          v-model="grupo.permitir_ticket_max"
                          :items="opcionesPermitidas"
                          item-text="nombre"
                          item-value="valor"
                          label="N° máximo tickets disponibles:"
                        > 
                        </v-select> 
                      </v-col>
                      <v-col cols="5">
                        <v-text-field
                          label="Cantidad max disponible"
                          v-model="grupo.cantidad_max_disponible"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="2" class="pt-8">
                        <span @click="permitirDisponibilidad = null"><v-icon color="black">mdi-close-box</v-icon></span>
                        <span @click="verificarSiHayTicketEnStock(grupo)"><v-icon color="black">mdi-checkbox-marked</v-icon></span>
                      </v-col>
                    </v-row>  
                  </div>
                  <div v-else>
                    <v-row >
                      <v-col cols="5">
                        N° máximo tickets disponibles: 
                        <span v-if="grupo.permitir_ticket_max == '1'">Sí ({{ grupo.cantidad_max_disponible }}) </span> 
                        <span v-else-if="grupo.permitir_ticket_max == '0'">No</span>
                        <span @click="permitirDisponibilidad = grupo.id"><v-icon color="black">mdi-pencil</v-icon> </span>
                      </v-col>
                    
                      <v-col cols="7">
                        <div @click="agregarTicketStock = grupo.id" >
                          <v-icon color="black">mdi-plus-thick</v-icon> Añadir nuevos tickets al stock
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </th>
              </tr>

               <tr v-if="siEdicion == grupo.id && $parent.catId == categoria.id && agregarTicketStock == grupo.id">
                <th colspan="3" style="border-bottom: 0px;" ></th>
                <th colspan="6" class="bordes-left bordes-right">
                  <div>
                    <v-row>
                      <v-col cols="2">
                        <v-text-field
                          label="N° Tickets"
                          v-model="grupo.numero"
                          type="number"
                          disabled
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="2">
                        <v-text-field
                          label="Sector"
                          v-model="$parent.nuevoTicketStock.sector"
                          :error="validarSector"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="2">
                        <v-text-field
                          label="Junta"
                          v-model="$parent.nuevoTicketStock.juntas"
                          :error="validarJuntas"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="2">
                        <v-select
                          v-model="$parent.nuevoTicketStock.formato"
                          :items="formatos"
                          label="Formato"
                          :error="validarFormato"
                        ></v-select>
                      </v-col>
                      <v-col cols="2">
                        <v-text-field
                          label="Precio/Ud"
                          type="number"
                          v-model="$parent.nuevoTicketStock.precioUd"
                          :error="validarPrecioUd"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="2" class="pt-8">
                        <span @click="agregarTicketStock = null"><v-icon color="black">mdi-close-box</v-icon></span>
                        <span @click="guardarNuevoTicket(grupo)"><v-icon color="black">mdi-checkbox-marked</v-icon></span>
                      </v-col>
                    </v-row>  
                  </div>
                  
                </th>
                <th colspan="3" style="border-bottom: 0px;" ></th>
              </tr>

              <!-- ------------------------------ -->

              <!--Listado TICKET stock -->
              <tr v-for="(item,index) in $parent.ticketsStock"  v-if="item.grupo_id == grupo.id && siEdicion == grupo.id && $parent.catId == categoria.id">
              
                <th :class="'text-center ceroPadding'" style="padding: 5px 6px 0 0 !important; border-bottom: 0px">
                  <plus-comision-component
                      :ticket="item"
                      :usuarios="$parent.usuarios"
                  />
                </th>
                <th :class="'text-center ceroPadding'" style="padding: 5px!important; border-bottom: 0px">
                  <nota-component
                    :ticketId="item.id"
                    :nota="item.descripcion"
                    :reservacion="null"
                    :usuario="null"
                    :precioNeto="null"
                    @guardarNota="guardarNota"
                  />
                  
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" v-if="editarTicket != item.id" @click="editarTicket = item.id">
                  <v-icon color="black">mdi-pencil</v-icon>
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" v-else >
                  <div @click="guardarTicket(item)">
                     <v-icon color="black">mdi-checkbox-marked</v-icon>
                  </div>
                  <div @click="editarTicket = null">
                    <v-icon color="black">mdi-close-box</v-icon>
                  </div>
                </th>

                <th :class="'text-center bordes-left colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ grupo.numero }}
                </th>
                <th :class="'text-center bordes-left colorSegunEstado'+item.estado" v-else>
                   <v-text-field v-model="grupo.numero" disabled></v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.sector }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field v-model="item.sector" required></v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.juntas }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field v-model="item.juntas" required></v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.formato }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field v-model="item.formato" required></v-text-field>
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ item.precioUd + ' €' }}
                </th>
                <th :class="'text-center colorSegunEstado'+item.estado" v-else>
                   <v-text-field v-model="item.precioUd" required></v-text-field>
                </th>
                <th :class="'text-center bordes-right colorSegunEstado'+item.estado" v-if="editarTicket != item.id">
                  {{ obtenerPrecioFinal(item) + ' €' }}
                </th>
                <th :class="'text-center bordes-right colorSegunEstado'+item.estado" v-else>
                  <v-text-field v-model="item.precioFinal" disabled></v-text-field>
                </th>
                <th
                  :class="'text-center ceroPadding'"
                  title="Eliminar ticket"
                  style="border-bottom: 0px"
                  @click="eliminarTickets(item)"
                >
                  <v-icon color = "red">mdi-close-circle
                    </v-icon>
                </th>
                <th :class="'text-center ceroPadding'" style="padding: 5px!important; border-bottom: 0px" title="Reservar ticket">
                  <reserva-component
                      :grupo="grupo"
                      :ticket="item"
                      :usuarios="$parent.usuarios"
                      @click="reservar"
                      v-if="!$parent.reservando || item.id != $parent.reservando"
                  />
                  <v-progress-circular
                    v-else-if="$parent.reservando && item.id == $parent.reservando"
                    indeterminate
                    color="black"
                    :size="15"
                    :width="1"
                  ></v-progress-circular>
                </th>
                <th style="border-bottom: 0px"></th>
              </tr> 
    
              <!-- Listado TICKETs Reservados -->
              <tr v-for="(item,index) in $parent.ticketsReservados"  v-if="item.grupo_id == grupo.id && siEdicion == grupo.id && $parent.catId == categoria.id">
                
                <th :class="'text-center ceroPadding'" style="padding: 5px 6px 0 0 !important; border-bottom: 0px">
                  <plus-comision-component
                      :ticket="item"
                      :usuarios="$parent.usuarios"
                  />
                </th>
                <th :class="'text-center ceroPadding'" style="padding: 5px!important; border-bottom: 0px">
                  <nota-component
                    :ticketId="item.id"
                    :nota="item.descripcion"
                    :reservacion="enviarReservacion(item)"
                    :usuario="null"
                    :precioNeto="parseFloat(item.precioUd)"
                    @guardarNota="guardarNota"
                  />
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" v-if="editarTicket != item.id" @click="editarTicket = item.id">
                  <v-icon color="black">mdi-pencil</v-icon>
                </th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" v-else >
                  <div @click="guardarTicket(item)">
                     <v-icon color="black">mdi-checkbox-marked</v-icon>
                  </div>
                  <div @click="editarTicket = null">
                    <v-icon color="black">mdi-close-box</v-icon>
                  </div>
                </th>


                <th v-if="editarTicket != item.id" :class="'text-center bordes-left colorSegunEstado'+item.estado">
                  {{ item.grupo.numero }}
                </th>
                 <th v-else :class="'text-center bordes-left colorSegunEstado'+item.estado">
                    <v-text-field v-model="item.grupo.numero" disabled></v-text-field>
                </th>
                <th v-if="editarTicket != item.id" :class="'text-center colorSegunEstado'+item.estado">
                  {{ item.sector }}
                </th>
                <th v-else :class="'text-center colorSegunEstado'+item.estado">
                  <v-text-field v-model="item.sector" required></v-text-field>
                </th>
                <th v-if="editarTicket != item.id" :class="'text-center colorSegunEstado'+item.estado">
                  {{ item.juntas }}
                </th>
                <th v-else :class="'text-center colorSegunEstado'+item.estado">
                  <v-text-field v-model="item.juntas" required></v-text-field>
                </th>
                <th v-if="editarTicket != item.id" :class="'text-center colorSegunEstado'+item.estado">
                  {{ item.formato }}
                </th>
                <th v-else :class="'text-center colorSegunEstado'+item.estado">
                  <v-text-field v-model="item.formato" required></v-text-field>
                </th>
                <th v-if="editarTicket != item.id" :class="'text-center colorSegunEstado'+item.estado">
                  {{ item.precioUd + ' €' }}
                </th>
                <th v-else :class="'text-center colorSegunEstado'+item.estado">
                  <v-text-field v-model="item.precioUd" required></v-text-field>
                </th>
                <th v-if="editarTicket != item.id" :class="'text-center bordes-right colorSegunEstado'+item.estado">
                  {{ obtenerPrecioFinal(item) + ' €' }}
                </th>
                <th v-else :class="'text-center bordes-right colorSegunEstado'+item.estado">
                  <v-text-field v-model="item.precioFinal" disabled></v-text-field>
                </th>

                <th
                  :class="'text-center ceroPadding'"
                  style="border-bottom: 0px"
                  title="Eliminar ticket"
                  @click="eliminarTickets(item)"
                >
                  <v-icon color = "red">mdi-close-circle</v-icon>
                </th>
                <th style="border-bottom: 0px"></th>
                <th :class="'text-center ceroPadding'" style="border-bottom: 0px" @click="aStock(item)" title="Mover a stock">
                  <v-icon color="black">mdi-briefcase</v-icon>
                </th>
              </tr>
              
            </template>
          </thead>

          <thead >
            <tr>
              <th colspan="3" style="border-bottom: 0px;"></th>
              <th colspan="6" style="border-top: 2px solid; border-bottom: 0px">
              </th>
            </tr>
          </thead>
        </template>
    </v-simple-table>

</template>
<script lang="ts">
export default {
 props:{
    categorias: {
        type: Array,
        default: []
    },
    tickets: {
        type: Array,
        default: []
    }
  },
  components: {
    NotaComponent: () => import('./NotaComponent.vue'),
    ReservaComponent: () => import('./ReservaComponent.vue'),
    PlusComisionComponent: () => import('./PlusComisionComponent.vue'),
  },
  data: () => ({
   
    opcionesPermitidas: [
      {
        nombre: "Si",
        valor: "1"
      },
      {
        nombre: "No",
        valor: "0"
      }
    ],
    opcionesFormato: ['Tarjeta', 'Papel', 'Móvil'],
    evento: null,
    editarTicket: null,
    siEdicion: null,
    siEdicion2: null,
    mostrarTicket: false,
    agregarTicketStock: null,
    permitirDisponibilidad: null,
    validarFormato: false,
    validarJuntas: false,
    validarSector: false,
    validarPrecioUd: false,
    validarGrupo: false,
    formatos: ['Papel', 'Tarjeta', 'Móvil'],
    nuevaReservacion: {
      ticket: null, 
      usuario_id: null,
      evento: null,
      precioFinal: null
    },
    reservarTicket: false,
    usuarioReservacion: null,
    existeNota: false
  }),
  
  methods: {
    arrGrupo(idCategoria){
      this.$emit('arrGrupo', idCategoria)
    },

    mostrarTicketEdicion(grupo){

      if(this.siEdicion == grupo.id){
        this.siEdicion = null
      }
      else{
        this.siEdicion = grupo.id
      }

      this.$emit('deStockAdisponible', grupo)

    },

    verificarSiHayTicketEnStock(grupo){
      this.permitirDisponibilidad = null

      this.$parent.ticketsDisponibles.filter(ticket => {
        if(ticket.grupo_id == grupo.id && ticket.grupo.categoria_evento_id == this.$parent.catId){
            ticket.grupo.permitir_ticket_max =  grupo.permitir_ticket_max
        }

      })

      this.$emit('deStockAdisponible', grupo)
      this.$emit('actualizandoTicketMax', grupo)

    },

    reservar(respuesta){

      this.nuevaReservacion.ticket = respuesta.ticket
      this.nuevaReservacion.usuario_id = respuesta.usuario
      this.nuevaReservacion.evento = this.$parent.evento.id
      this.nuevaReservacion.precioFinal = this.obtenerPrecioFinal(respuesta.ticket)

      this.$emit('apiRestReservacionTicket', this.nuevaReservacion)

    },

    aStock(ticket){
      
      if(ticket.estado == 1){
        let index = this.$parent.ticketsDisponibles.map(item => item.id).indexOf(ticket.id)
        this.$parent.ticketsDisponibles.splice(index, 1);
      }else if(ticket.estado == 3){
        let index = this.$parent.ticketsReservados.map(item => item.id).indexOf(ticket.id)
        this.$parent.ticketsReservados.splice(index, 1);
      }

      this.$emit('apiRestActualizarTicket', ticket, 2)

    },

    eliminarTickets(ticket) {
      var opcion = confirm("¿Estás seguro de querer eliminar?");

      if (opcion == true) {
        
        this.$emit("apiRestEliminar", ticket)

      } 
    },

    guardarNuevoTicket(grupo){
     
      this.$parent.nuevoTicketStock.grupo_id = grupo.id

      this.validarTicket()

      if(!this.validarSector && !this.validarFormato && !this.validarJuntas && !this.validarPrecioUd){
        // this.nuevoTicketStock.precioFinal = grupo.numero * parseInt(this.nuevoTicketStock.precioUd)
        
        this.$emit('apiRestCrearTicketStock', this.$parent.nuevoTicketStock)
        this.agregarTicketStock = null
        
      }
      

    },

    validarTicket(){
      if(!this.$parent.nuevoTicketStock.formato)
        this.validarFormato = true
      else
        this.validarFormato = false

      if(!this.$parent.nuevoTicketStock.juntas)  
        this.validarJuntas = true
      else
        this.validarJuntas = false

      if(!this.$parent.nuevoTicketStock.precioUd)  
        this.validarPrecioUd = true
      else
        this.validarPrecioUd = false

      if(!this.$parent.nuevoTicketStock.sector)  
        this.validarSector = true
      else
        this.validarSector = false
        
    },

    guardarTicket(ticket){

      if(!ticket.grupo.numero)
        this.validarGrupo = true
      else 
        this.validarGrupo = false  

      if(!ticket.formato)
        this.validarFormato = true
      else
        this.validarFormato = false

      if(!ticket.juntas)  
        this.validarJuntas = true
      else
        this.validarJuntas = false

      if(!ticket.precioUd)  
        this.validarPrecioUd = true
      else
        this.validarPrecioUd = false

      if(!ticket.sector)  
        this.validarSector = true
      else
        this.validarSector = false

      
      if(!this.validarGrupo && !this.validarSector && !this.validarFormato && !this.validarJuntas && !this.validarPrecioUd){
        
        this.$emit('apiRestEditarTicket', ticket)
        this.editarTicket = null
      }

    },

    enviarReservacion(ticket){
      let reservation = this.$parent.reservasTodas.find(function(value, index) {
          if(value.ticket_id == ticket.id)
            return value
      })

      return reservation

    },

    obtenerCategoriaInicial(){
      
      this.$parent.catId = this.categorias ? this.categorias[0].id : null
      // this.obtenerTicketsFiltrados(this.$parent.catId)

    },
    obtenerPrecioFinal(ticket){
       let numero = Number(ticket.grupo.numero)
       let precioUd = Number(ticket.precioUd)

       return numero * precioUd
    },

    guardarNota(tickeId, nota){
      this.$emit('apiGuardarNota', tickeId, nota)
    },

    mostrarSoloSiNoHayTicketReservado(grupo, categoria){

      let ticketsReservados = this.$parent.ticketsReservados.filter(ticket => ticket.grupo_id == grupo.id && this.$parent.catId == categoria.id)
      // console.log(ticketsReservados)
      if(ticketsReservados.length == 0){
        return true;
      }else{
        return false;
      }

    },

    eliminarGrupo(grupoId){
      var opcion = confirm("¿Estás seguro de querer eliminar?");

      if (opcion == true) {
        this.$emit('apiEliminarGrupo', grupoId)
      } 
    }

  }
}
</script>
<style scoped>
    .colorSegunEstado1{
     background: #ffe47f;
   }
   .colorSegunEstado2{
     background: #d4d0d0fc;
   }
   .colorSegunEstado3{
     background: #8bc34a;
   }
  .bordes-left{
    border-left: 2px solid;
  }
  .bordes-right{
    border-right: 2px solid;
  }
  .bordes-bottom{
    border-bottom: 2px solid;
  }
  .bordes-top-clarito{
    border-top: 1px solid;
  }
  .bordes-header{
    border: 2px solid;
    border-bottom: 2px solid !important;
  }
  .bordes-bottom-clarito{
    border-bottom:1px solid #e0e0e0;
  }
  .ceroPadding{
    padding: 0px 0px!important;
  }
  .nombre-categoria{
    background-color: #e1b618;
    color: black !important;
    font-size: 14px !important;
  }
  .sin-bordes-bottom-clarito{
    border-bottom: 0px solid !important;
  }
  .cursor{
    cursor: pointer!important;
  }
  .v-data-table__wrapper {
    overflow-x: hidden !important;
  }
  .errorInput{
    border: 1px solid red;
  }
</style>