//
@import "~bulma/bulma";

.color_validacion{
  color: red;
}
.v-calendar-weekly__day-label .v-btn__content {
	color: #a52b05;
}

.theme--light .v-calendar-events .v-event-more, .pl-1{
  height: 22px !important; 
  margin-bottom: 0px !important;
  font-size: 2px;
  text-align: center;
  margin-left: 1px;
  background: #e6512a !important;
  color: #e6512a !important;
  cursor: none;
}

v-calendar-weekly {
    background-color: #fff;
    border-top-width: 17px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}
          
.v-present .v-calendar-weekly__day-label .v-btn__content {
  color: white !important;
}

  @media only screen and (max-width: 768px) {
  .v-calendar-monthly:last-child {
    width: 290px;
    
  }
  .v-sheet:last-child {
  margin-left: 0;
    width: 290px;
  }
}
