<template>
    <v-card>
        <v-card-title>
            <span class="text-h5">Nuevo evento</span>
        </v-card-title>

        <v-card-text>
            <v-container>
              <v-row>
                  <v-col
                    cols="12"
                    sm="3"
                    md="3"
                  >
                    <v-text-field
                      v-model="nombre"
                      label="nombre"
                      :error-messages="nombreErrores" 
                      @input="$v.nombre.$touch()" 
                      @blur="$v.nombre.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="3"
                      md="3"
                    >
                       <v-text-field type="datetime-local" 
                          v-model="fecha"
                          :error-messages="fechaErrores" 
                          @input="$v.fecha.$touch()" 
                          @blur="$v.fecha.$touch()"
                       ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="3"
                      md="3"
                    >
                      <v-switch
                        v-model="visibilidad"
                        :label="'Permitir visibilidad'"
                      ></v-switch>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="3"
                      md="3"
                    >
                      <v-switch
                        v-model="destacado"
                        :label="'Destacado'"
                      ></v-switch>
                  </v-col>   
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-select
                      v-model="mapa_id"
                      :items="mapas"
                      label="Seleccione nombre del estadio"
                      item-text="estadio"
                      item-value="id"
                      :error-messages="mapasErrores" 
                      @input="$v.mapa_id.$touch()" 
                      @blur="$v.mapa_id.$touch()"
                    ></v-select>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="6"
                    >
                      <v-select
                        v-model="tipo_id"
                        :items="tipos"
                        label="Seleccione el tipo de evento"
                        item-text="nombre"
                        item-value="id"
                        :error-messages="tiposErrores" 
                        @input="$v.tipo_id.$touch()" 
                        @blur="$v.tipo_id.$touch()"
                                   
                      >
                          
                      </v-select>
                    </v-col>

                </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue darken-1"
            text
            @click="cancelar"
            >
            Cancelar
            </v-btn>
            <v-btn
            color="blue darken-1"
            text
            @click="save"
            >
            Guardar
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      grupos: [],
      eventos: [],

      nombre: null,
      fecha: null,
      visibilidad: true,
      destacado: true,
      estadio: null,
      
      mapa_id: null,
      tipo_id: null,
      tipos: [],
      mapas: [],
      editedIndex: -1,


      numero: null,
      cantidad_max_disponible: null,
      permitir_ticket_max: 1,
      categoria_evento_id: null,
      evento: null,
      categoria: null,

    }),

    validations() {
      return {

        mapa_id: {required},
        tipo_id: {required},
        nombre: {required},
        fecha: {required},
      }
    },

    computed: {
      
      nombreErrores () {
        const errors = []
        if (!this.$v.nombre.$dirty) return errors
        !this.$v.nombre.required && errors.push('El campo nombre es obligatorio.')
        return errors
      },
      mapasErrores() {
        const errors = []
        if (!this.$v.mapa_id.$dirty) return errors
        !this.$v.mapa_id.required && errors.push('El campo nombre del estadio es obligatorio.')
        return errors
      },
      tiposErrores() {
        const errors = []
        if (!this.$v.tipo_id.$dirty) return errors
        !this.$v.tipo_id.required && errors.push('El campo tipo de evento es obligatorio.')
        return errors
      },
      fechaErrores (){
        const errors = []
        if (!this.$v.fecha.$dirty) return errors
        !this.$v.fecha.required && errors.push('El campo fecha es obligatorio.')
        return errors
      },
    },

    created () {
      this.initialize()

    },

    methods: {

        initialize () {

          axios
          .get('/api/eventos', {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
          .then(response => {
            this.tipos = response.data[3]
            this.mapas = response.data[4]
          });
        },

        cancelar()
        {
            this.$router.push({ path: `/admin/administrar-eventos` })
        },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            nombre : this.nombre,
            fecha : this.fecha,
            destacado : this.destacado,
            visibilidad: this.visibilidad,
            mapa_id: this.mapa_id,
            tipo_id: this.tipo_id
          }
          
          this.create(editedItem)
            
        }
      },

      create (editedItem) {

         return new Promise((resolve, reject) => {
          axios.post('/api/eventos', editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              this.cancelar()
              this.$toastr.s("Nuevo grupo registrado correctamente.")

              resolve(this.categorias)
            })
            .catch(error => {
              reject(error)
              this.$toastr.e("Error al crear el evento.")

            })
        })
      },

      toggle () {
        this.$nextTick(() => {
          if (this.likesAllFruit) {
            this.eventosSeleccionados = []
          } else {
            this.eventosSeleccionados = this.eventos.slice()
          }
        })
      },
    },
  }
</script>
