<template>
  <v-data-table
    :headers="headers"
    :items="eventoss"
    sort-by="nombre"
    class="elevation-1"
    :no-results-text="'No se encontraron datos'"
    :no-data-text="'Sin resultados'"
  >

    <template v-slot:item.visibilidad ="{ item }">
      <span v-if="item.visibilidad">Si</span>
      <span v-else>No</span>
    </template>
    <template v-slot:item.destacado ="{ item }">
      <span v-if="item.destacado">Si</span>
      <span v-else>No</span>
    </template>
    
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Eventos</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>

        <!-- FORMULARIO -->
        <v-dialog
          v-model="dialog"
          max-width="900px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="nuevo()"
            >
              Nuevo evento
            </v-btn>
          </template>

          
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
              <v-row>
                  <v-col
                    cols="12"
                    sm="3"
                    md="3"
                  >
                    <v-text-field
                      v-model="nombre"
                      label="nombre"
                      :error-messages="nombreErrores" 
                      @input="$v.nombre.$touch()" 
                      @blur="$v.nombre.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="3"
                      md="3"
                    >
                       <v-text-field type="datetime-local" 
                          v-model="fecha"
                          :error-messages="fechaErrores" 
                          @input="$v.fecha.$touch()" 
                          @blur="$v.fecha.$touch()"
                       ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="3"
                      md="3"
                    >
                      <v-switch
                        v-model="visibilidad"
                        :label="'Permitir visibilidad'"
                      ></v-switch>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="3"
                      md="3"
                    >
                      <v-switch
                        v-model="destacado"
                        :label="'Mostrar en home'"
                      ></v-switch>
                  </v-col>   
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-select
                      v-model="mapa_id"
                      :items="mapas"
                      label="Seleccione nombre del estadio"
                      item-text="estadio"
                      item-value="id"
                      :error-messages="mapasErrores" 
                      @input="$v.mapa_id.$touch()" 
                      @blur="$v.mapa_id.$touch()"
                    ></v-select>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="6"
                    >
                      <v-select
                        v-model="tipo_id"
                        :items="tipos"
                        label="Seleccione el tipo de evento"
                        item-text="nombre"
                        item-value="id"
                        :error-messages="tiposErrores" 
                        @input="$v.tipo_id.$touch()" 
                        @blur="$v.tipo_id.$touch()"
                                   
                      >
                          
                      </v-select>
                    </v-col>

                </v-row>
            </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm" >Si</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <span>Sin registros</span>
    </template>
  </v-data-table>
</template>
<script>
 import moment from 'moment';
  moment.locale('es');  
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      show2: false,
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          sortable: false,
          value: 'nombre',
        },
        { text: 'Fecha', value: 'fecha', sortable: false  },
        { text: 'Visibilidad', value: 'visibilidad', sortable: false  },
        {text: 'Home', value: 'destacado', sortable: false},
        { text: 'Estadio', value: 'mapa.estadio', sortable: false  },
        {text: 'Tipo de evento', value: 'tipo.nombre', sortable: false},
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      grupos: [],
      eventoss: [],
      eventos: [],
      mapas: [],
      tipos: [],
      destacado: null,
      visibilidad: null,

      nombre: null,
      fecha: null,
      visibilidad: 1,
      destacado: 1,
      estadio: null,
      
      mapa_id: null,
      tipo_id: null,

      categorias: [],
      categoriasEventos: [],
      editedIndex: -1,
      numero: null,

      evento: null,
      categoria: null,
      
     
    }),

    validations() {
      return {

        mapa_id: {required},
        tipo_id: {required},
        nombre: {required},
        fecha: {required},
      }
    },

    computed: {
      
      nombreErrores () {
        const errors = []
        if (!this.$v.nombre.$dirty) return errors
        !this.$v.nombre.required && errors.push('El campo nombre es obligatorio.')
        return errors
      },
      mapasErrores() {
        const errors = []
        if (!this.$v.mapa_id.$dirty) return errors
        !this.$v.mapa_id.required && errors.push('El campo nombre del estadio es obligatorio.')
        return errors
      },
      tiposErrores() {
        const errors = []
        if (!this.$v.tipo_id.$dirty) return errors
        !this.$v.tipo_id.required && errors.push('El campo tipo de evento es obligatorio.')
        return errors
      },
      fechaErrores (){
        const errors = []
        if (!this.$v.fecha.$dirty) return errors
        !this.$v.fecha.required && errors.push('El campo fecha es obligatorio.')
        return errors
      },
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo evento' : 'Editar evento'
      },
    },


    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()

    },

    methods: {

      formato(dateToFormat){

         return moment(dateToFormat).format(); 

      },

      initialize () {

        axios
        .get('/api/eventos', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.eventoss = response.data[0]
          this.tipos = response.data[3]
          this.mapas = response.data[4]
        });
      },

      nuevo()
      {
          this.$router.push({ path: `/admin/nuevo-evento` })
      },


      editItem (item) {

        this.initialize()
        this.editedIndex = this.eventoss.indexOf(item)

        let evento = Object.assign({}, item)
        this.nombre = evento.nombre
        this.fecha = evento.fecha,
        this.visibilidad = evento.visibilidad,
        this.destacado = evento.destacado,
        this.mapa_id = evento.mapa_id,
        this.tipo_id = evento.tipo_id
        this.dialog = true
        
      },

      deleteItem (item) {
        this.editedIndex = this.eventoss.indexOf(item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let evento =  this.eventoss[this.editedIndex]

         axios
        .delete('/api/eventos/'+evento.id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.eventoss.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("evento eliminado correctamente.")

        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      close () {
        this.dialog = false
        this.editedIndex = -1
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1
      },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            id: this.eventoss[this.editedIndex].id,
            nombre: this.nombre,
            fecha: this.fecha,
            visibilidad: this.visibilidad,
            destacado: this.destacado,
            mapa_id: this.mapa_id,
            tipo_id: this.tipo_id
          }
           
          this.edit(editedItem)
          this.initialize()
        }
      },

      edit (editedItem) {
        
          //api para enviar datos del usuario a guardar
        return new Promise((resolve, reject) => {
          axios.put('/api/eventos/'+editedItem.id, {
            evento: editedItem,
          }, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
            .then(response => {
              Object.assign(this.eventoss[this.editedIndex], editedItem)
              this.close()

              this.$toastr.s("Evento editado correctamente.")

              resolve(this.eventoss)
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })
      },

      toggle () {
        this.$nextTick(() => {
          if (this.likesAllFruit) {
            this.eventosCategoriasSeleccionados = []
          } else {
            this.eventosCategoriasSeleccionados = this.categoriasEventos.slice()
          }
        })
      },

    },
  }
</script>