<template>
  <v-container>
   <v-row md="12" justify="center">
     <v-col md="10">
       <preguntas-yrespuestas
          :usuario="usuarioAutenticado"
          :preguntas="preguntas"
       />
     </v-col>
   </v-row>

   <v-row md="12" class="mt-10" xs="12" justify="center">
     <v-col md="11" xs="12"  v-show="usuarioAutenticado && usuarioAutenticado.rol == 'admin'">
       <div>
         <p class="font-weight-bold text-center text-uppercase">
            <span class="fuente-elDoble" v-if="evento">
              {{ evento.nombre }}
            </span>
        </p>
       </div>
    
      <tickets-admin-component
        v-if="categorias.length > 0"
        :categorias="categorias"
        :tickets="tickets"
        @apiRestEliminar="apiRestEliminar"
        @apiEliminarGrupo="apiEliminarGrupo"
        @deStockAdisponible="deStockAdisponible"
        @apiRestActualizarTicket="apiRestActualizarTicket"
        @apiRestReservacionTicket="apiRestReservacionTicket"
        @apiRestCrearTicketStock="apiRestCrearTicketStock"
        @apiRestEditarTicket="apiRestEditarTicket"
        @arrGrupo="arrGrupo"
        @apiGuardarNota="apiGuardarNota"
        @actualizandoTicketMax="actualizandoTicketMax"
      />
        
     </v-col>

      <v-col md="11" xs="12" v-show="usuarioAutenticado && usuarioAutenticado.rol == 'cliente'">
        <div>
            <p class="font-weight-bold text-center text-uppercase marginLeftSioNo">
                <span class="fuente-elDoble" v-if="evento">
                  {{ evento.nombre }}
                </span>
            </p>
        </div>
       
        <tickets-usuario-component
          v-if="categorias.length > 0"
          :categorias="categorias"
          :tickets="tickets"
          @deStockAdisponible="deStockAdisponible"
        />
     </v-col>
   </v-row>

   <v-row md="12" justify="center">
      <v-col justify="center" md="6" sm="12" v-if="usuarioAutenticado && usuarioAutenticado.rol == 'cliente'">
        <inner-image-zoom
          class="d-flex justify-center"
          v-if="evento.mapa"
          :src="'../imagenes/'+evento.mapa.imagen"
          zoomType="hover"
        />
     </v-col>
   </v-row>
  </v-container> 

</template>

<script>
import InnerImageZoom from 'vue-inner-image-zoom';

export default {
  components: {
    PreguntasYrespuestas: () => import('../../componentes/PreguntasYrespuestas.vue'),
    TicketsUsuarioComponent: () => import('../../componentes/TicketsUsuarioComponent.vue'),
    TicketsAdminComponent: () => import('../../componentes/TicketsAdminComponent.vue'),
    InnerImageZoom
  },
  data: () => ({
    grupos: [],
    preguntas: [],
    gruposPorCategoria: [],
    gruposFiltrados: [],
    gruposCero: [],
    tickets: [],
    ticketsDisponibles: [],
    ticketsStock: [],
    ticketsReservados: [],
    gruposReservados: [],
    reservasDeUsuarioAutenticado: [],
    catId: null,
    categorias: [],
    evento: null,
    usuario: null,
    sinDatos: null,
    usuarioAutenticado: null,
    cargandoTickets: false,
    usuarios: [],
    reservando: false,
    nuevoTicketStock: {
      grupo_id: null,
      sector: null,
      juntas: null,
      formato: null,
      precioUd: null,
      precioFinal: 0,
      estado: 2,
    },
    encontrados: [],
    reservasTodas: [],
    notas: [],
  }),
  
  beforeCreate(){
     
    let eventoID = this.$route.params.id
    axios
      .get('/api/eventos/'+eventoID, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        })
      .then(response => {

          if(response.data != 'No encontrado'){
            this.evento = response.data[0]
            this.preguntas = this.evento.preguntas
            this.usuarios = response.data[1]
            this.categorias = response.data[2]

            this.$store.dispatch("getUsuario").then(response => {
              this.usuarioAutenticado = response.data
              this.obtenerCategoriaInicial()

            })

          }

      })
    
    
  },
  created(){
      
  },
  computed:{},
  methods: {

    //----------------- Consumiendo APIS --------------------------
    
    obtenerTicketsFiltrados(categoriaID){
      this.cargandoTickets = true

       axios
      .get('/api/tickets', {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        })
      .then(response => {

        this.volverARecargar()

        if(response.data != 'No encontrado'){

          this.tickets = response.data[0]

          if(this.usuarioAutenticado && this.usuarioAutenticado.rol == 'cliente')
          {
            this.ticketsStock = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == categoriaID && ticket.estado == 2)
     
            this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == categoriaID && ticket.estado == 1 )
            this.gruposFiltrados.sort(function(a, b) { return b.grupo.numero - a.grupo.numero; })
          }
          else
          {
            this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == categoriaID)           
          }
          
          this.grupos = response.data[2]
          this.reservasDeUsuarioAutenticado = response.data[1]
          this.reservasTodas = response.data[3]
          this.notas = response.data[4]
          

          if(this.usuarioAutenticado && this.usuarioAutenticado.rol == 'admin'){
            this.filtrados(categoriaID)
            this.obtenerGrupoCero()

          }

          let obtenerTicketReservado
          this.gruposReservados = []
          this.reservasDeUsuarioAutenticado.forEach(elemento => {
            obtenerTicketReservado = this.tickets.find(ticket => ticket.grupo.categoria_evento_id == categoriaID && ticket.id == elemento.ticket_id )
            if(obtenerTicketReservado)
              this.gruposReservados.push(obtenerTicketReservado)
          });
                   
          if(this.gruposFiltrados.length == 0)
            this.sinDatos = 'Sin tickets disponibles'

          this.cargandoTickets = false

        }

      })
      
    },

    apiRestEliminar(ticket){

      axios
      .delete('/api/tickets/'+ticket.id, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        })
      .then(response => {

        this.tickets = response.data

        //y volver a filtrar grupos
        this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId) 
        this.filtrados(this.catId)

        this.deStockAdisponible(ticket.grupo)

        this.obtenerGrupoCero()
        // this.revisarSiHayGrupoDisponible(ticket)
        

      })
      .catch(error => {
        console.log(error)
      })
      
    },

    apiEliminarGrupo(grupoId){
      axios.delete('/api/grupos/'+grupoId, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.tickets = response.data

          //y volver a filtrar grupos
          this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId) 
          this.filtrados(this.catId)

          // this.obtenerGrupoCero()

          //ELIMINAR DE GRUPOS CEROS 

          let index = this.gruposCero.findIndex((grupo) => grupo == parseInt(grupoId))
          this.gruposCero.splice(index, 1)
          console.log(index, this.gruposCero)


        })
        .catch(error => {
          console.log(error)
        })
    },

    apiRestActualizarTicket(actualizado, estadoAcambiar){

       axios
      .post('/api/actualizar-ticket', {
          ticketID: actualizado,
          ticketEstado: estadoAcambiar,
        }, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        }
        )
      .then(response => {
        
        this.tickets = response.data[1]
        actualizado.estado = estadoAcambiar
        
        if(estadoAcambiar == 2){
          this.ticketsStock.push(response.data[0])
        }else{
          let index = this.ticketsStock.findIndex((ticket) => ticket.id == actualizado.id)
          this.ticketsStock.splice(index, 1)

          this.ticketsDisponibles.push(response.data[0])

          //añadido recien para efecto de usuario cliente
          this.gruposFiltrados = []
          this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId && ticket.estado == 1 )
          this.gruposFiltrados.sort(function(a, b) { return b.grupo.numero - a.grupo.numero; })

        }
       
        // this.revisarSiHayGrupoDisponible(actualizado)
        this.deStockAdisponible(response.data[0].grupo)
        this.obtenerGrupoCero()


      })
      .catch(error => {
        console.log(error)
      })
     
    },

    apiRestReservacionTicket(reservacion){
       this.reservando = reservacion.ticket.id

       axios
      .post('/api/reservacion', {
          ticket: reservacion.ticket.id,
          usuario: reservacion.usuario_id,
          evento: reservacion.evento,
          conserje: null,
          precioFinal: reservacion.precioFinal
        }, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        }
        )
      .then(response => {

        if(response.data == 'Éste ticket ya ha sido reservado o no está disponible.')
        {

          alert(response.data)
        }
        else
        {
          this.reservasTodas = response.data
        
          this.reservando = false
          let index = null
          if(reservacion.ticket.estado == 1){
            index = this.ticketsDisponibles.map(item => item.id).indexOf(reservacion.ticket.id)
            this.ticketsDisponibles.splice(index, 1);
          }else if(reservacion.ticket.estado == 2){
            index = this.ticketsStock.map(item => item.id).indexOf(reservacion.ticket.id)
            this.ticketsStock.splice(index, 1);
          }

          reservacion.ticket.estado = 3
          this.ticketsReservados.push(reservacion.ticket)

          this.deStockAdisponible(reservacion.ticket.grupo)
        }
        

      })
      .catch(error => {
        console.log(error)
      })
    },

    apiRestCrearTicketStock(ticket){
       axios
      .post('/api/tickets', {
          ticket: ticket,
        }, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        }
      )
      .then(response => {

        this.nuevoTicketStock = {
          grupo_id: null,
          sector: null,
          juntas: null,
          formato: null,
          precioUd: null,
          precioFinal: 0,
          estado: 2,
        }

        //traerme todos los tickets y sustituirlos

        this.tickets = response.data[0]

        // this.gruposFiltrados.push(response.data) //el ticket q ha sido cambiado
        
        // this.ticketsStock.push(response.data)
        
        this.arrGrupo(this.catId)
        this.deStockAdisponible(response.data[1].grupo)

      })
      .catch(error => {
        console.log(error)
      })
     
    },

    apiRestEditarTicket(ticket){
      axios
      .put('/api/tickets/' + ticket.id, {
          ticket: ticket,
        }, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        }
      )
      .then(response => {

        //traerme todos los tickets y sustituirlos

        this.tickets = response.data[0]
        this.grupos = response.data[1]

        this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId) 
        
        this.filtrados(this.catId)


        // this.gruposFiltrados.push(response.data) //el ticket q ha sido cambiado
        
        // this.ticketsStock.push(response.data)
        
        // this.deStockAdisponible(response.data.grupo)

      })
      .catch(error => {
        console.log(error)
      })
    },

    apiGuardarNota(tickeId, nota){
      axios
      .post('/api/guardar-nota', {
          ticketId: tickeId,
          nota: nota,
        }, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        }
        )
      .then(response => {
        
        this.tickets = response.data
        this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId) 


      })
      .catch(error => {
        console.log(error)
      })
    },

    actualizandoTicketMax(grupo){

      axios
      .post('/api/actualizar-ticket-max', {
          grupo: grupo,
        }, {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        }
        )
      .then(response => {
        
        this.tickets = response.data
        this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId) 


      })
      .catch(error => {
        console.log(error)
      })
    },
   
   //--------------------------------------------------------------
    
    obtenerCategoriaInicial(){
      
      this.catId = this.categorias ? this.categorias[0].id : null
       this.obtenerTicketsFiltrados(this.catId)

    },

    obtenerPrecioFinal(ticket){
       let numero = Number(ticket.grupo.numero)
       let precioUd = Number(ticket.precioUd)

       return numero * precioUd
    },

    deStockAdisponible(grupo)
    {

      if(this.usuarioAutenticado && this.usuarioAutenticado.rol == 'cliente'){
        this.ticketsDisponibles = this.gruposFiltrados.filter(ticket => ticket.estado == 1)
      } //si usuario es cliente

      let ticketsAfiltrar = this.ticketsDisponibles
      let ticketsFiltrados = ticketsAfiltrar.filter( element => element.grupo_id == grupo.id )
      
      // console.log(this.ticketsDisponibles, grupo.id, ticketsFiltrados)
      let cantidad = ticketsFiltrados.length

      let resultado = cantidad * grupo.numero
      let permitirSiOno = grupo.permitir_ticket_max

      // console.log(ticketsFiltrados, resultado, grupo.cantidad_max_disponible, resultado < grupo.cantidad_max_disponible && permitirSiOno == 1)

      if(resultado < grupo.cantidad_max_disponible && permitirSiOno == 1) //verificar si hay espacio disponible,
      {

        let ticketsStockAfiltrar = this.ticketsStock
        let ticketsStockFiltrados = ticketsStockAfiltrar.filter( element => element.grupo_id == grupo.id )

        if(ticketsStockFiltrados.length > 0)
        {
          let eliminado;
          
          eliminado = ticketsStockFiltrados.shift() //eliminar la primera posicion de stock

          //llamado de la api para actualizar el ticket en base de datos
          this.apiRestActualizarTicket(eliminado, 1)
        
        }

      }

    },

    arrGrupo(idCategoria){

      this.catId = idCategoria;

      this.gruposFiltrados = this.tickets.filter(ticket => ticket.grupo.categoria_evento_id == this.catId)  
     
     this.filtrados(idCategoria)

      this.obtenerGrupoCero()

    },

    filtrados(categoriaID){
      this.gruposPorCategoria = this.grupos.filter(grupo => grupo.categoria_evento_id == categoriaID) 
      this.gruposPorCategoria.sort(function(a, b) { return b.numero - a.numero; })

      this.ticketsDisponibles = this.gruposFiltrados.filter(ticket => ticket.estado == 1)
      this.ticketsStock = this.gruposFiltrados.filter(ticket => ticket.estado == 2)
     
      this.ticketsReservados = this.gruposFiltrados.filter(ticket => ticket.estado == 3) 
    },

    obtenerGrupoCero(){
   
      let existeUngrupoConTicketsEnStock = this.gruposFiltrados
      let existeUngrupoConTicketsEnStockID = []

        if(existeUngrupoConTicketsEnStock){
          existeUngrupoConTicketsEnStock.forEach(element => {
            existeUngrupoConTicketsEnStockID.push(parseInt(element.grupo_id))

            let existeEnGrupoCero = this.gruposCero.find(grupoId => grupoId == parseInt(element.grupo_id))
            let existeTicketDisponible = this.tickets.find(ticket => ticket.estado == 1 && ticket.grupo_id == element.grupo_id) 

            if(!existeEnGrupoCero && !existeTicketDisponible){
              this.gruposCero.push(parseInt(element.grupo_id))
            }
            else if(existeEnGrupoCero && existeTicketDisponible){
              let index = this.gruposCero.findIndex((grupoId) => grupoId == parseInt(element.grupo_id))
              this.gruposCero.splice(index, 1)
            }

          });

          let gruposPorCategoriaID = []

          this.gruposPorCategoria.forEach(element => {
            gruposPorCategoriaID.push(element.id)
          });

          let ok = gruposPorCategoriaID.filter(elemento => existeUngrupoConTicketsEnStockID.indexOf(elemento) == -1);
         
          let self = this

          ok.find(function(value, index) {
                
            let existeEnGrupoCero = self.gruposCero.find(grupoId => grupoId == value)
            
            if(!existeEnGrupoCero){
              self.gruposCero.push(parseInt(value))

            }
          })

        }
      
    },

    revisarSiHayGrupoDisponible(ticket){
      let  ticketsGrupo = this.tickets.filter(element => element.grupo_id == ticket.grupo_id && element.estado == 1) 
        
      if(ticketsGrupo.length == 0){
        this.gruposCero.push(parseInt(ticket.grupo_id))
      }else{
        //obtener el index del grupo_id si existe en array y removerlo
        let index = this.gruposCero.findIndex((grupoId) => grupoId == parseInt(ticket.grupo_id))
        this.gruposCero.splice(index, 1)
      }
    },

    volverARecargar(){
      setTimeout(() => {
          this.obtenerTicketsFiltrados(this.catId)
      }, 600000);
    }

  }
}
</script>

<style scoped>
  @media only screen and (max-width: 600px) {
    .marginLeftSioNo{
        margin-left: 0;
    }
  }

  @media only screen and (min-width: 610px) {
    .marginLeftSioNo{
        margin-left: -10vh;
    }
  }
</style>