<template>
  <v-container>
    <!-- <header-component v-if="$store.getters.autenticado" :usuario="usuarioAutenticado" /> -->

    <v-row md="12" justify="center">
        <v-col md="10">
            <preguntas-yrespuestas
              :usuario="usuarioAutenticado"
              :preguntas="preguntas"
              @guardarPregunta="guardarPregunta"
            />
        </v-col>
    </v-row>
 
    <v-row class="mt-8" md="12" xs="12" justify="center">
        <v-col md="10" xs="10">
          <v-simple-table>
              <template v-slot:default>
              <thead>
                  <tr>
                  <th colspan="4" class="pl-16 ml-10 mb-1 black--text font-weight-bold text-center text-uppercase text-h6" >
                      Eventos Disponibles
                  </th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="pt-1 mb-1"
                    v-for="item in eventosDestacadosVisibles"
                    :key="item.id"
                  >
                  <td >
                    <div class="row mt-2">
                      <img width="35" height="35" :src="'../imagenes/'+item.tipo.logo" alt="" v-if="item.tipo">
                    </div>
                  </td>
                  <td v-if="editarEvento != item.id">
                    <div class="row mt-2">
                      <span class="d-flex align-center ml-2 orange--text" > {{ item.nombre }}</span>
                    </div>
                  </td>

                  <td v-else>
                    <div class="row pt-4">                  
                      <v-text-field dense class=" d-flex align-center" color="orange--text" v-model="item.nombre" required></v-text-field>
                    </div>

                  </td>

                  <td v-if="editarEvento != item.id">
                    {{ item.fecha | moment('dddd, D MMMM YYYY') }}
                    <br>
                    <span class=" hora_color" v-if="existeHora(item)">
                      <v-icon class="icon_check_hora" color="green">mdi-check</v-icon>
                      {{ item.fecha | moment('HH:mm') }}
                    </span> 
                    <span class="fecha_no_confirmada" v-else>Fecha no confirmada</span>
                  </td>

                  <td v-else>
                    <v-text-field dense class=" d-flex align-center mt-2 pl-2" color="orange" type="datetime-local" v-model="item.fecha" required></v-text-field>
                  
                  </td>

                  <td class=" sin_border_bottom color_fondo_orange ">
                    <div class="cursor centrar-texto" v-if="usuarioAutenticado && usuarioAutenticado.rol == 'admin'" @click="verDisponibilidad(item)">
                     <span> VER EVENTO </span>
                    </div>
                    <div class="cursor centrar-texto" v-else-if="item.visibilidad == 1 && usuarioAutenticado && usuarioAutenticado.rol != 'admin'" @click="verDisponibilidad(item)">
                      <span> VER EVENTO </span>
                    </div>
                    <div class="centrar-texto" v-else-if="item.visibilidad != 1 && usuarioAutenticado && usuarioAutenticado.rol != 'admin'" >
                      <span> CONTÁCTENOS </span>
                    </div>
                  </td>

                  <td class=" d-flex align-center sin_border_bottom "
                    v-if="editarEvento != item.id && usuarioAutenticado && usuarioAutenticado.rol == 'admin'"
                  >
                    <div class="cursor" @click="cambiarVisibilidad(item)">
                      <v-icon color="black" v-if="item.visibilidad == 1">
                        mdi-eye-outline 
                      </v-icon>
                      <v-icon color="black" v-else>
                        mdi-eye-off-outline 
                      </v-icon>
                    </div>
                    <div class="cursor" @click="duplicarTicket(item)" v-if="!duplicando || item.id != duplicando">
                        <v-icon color="black">
                          mdi-image-multiple-outline 
                        </v-icon>
                    </div>
                    <div v-else-if="duplicando && item.id == duplicando">
                      <v-progress-circular
                        indeterminate
                        color="black"
                        :size="15"
                        :width="1"
                      ></v-progress-circular>
                    </div>
                    <div class="cursor">
                      <v-icon class="cursor" color="black" @click="editarEvento = item.id">
                        mdi-pencil-outline 
                      </v-icon>
                    </div>
                    <div class="cursor">
                      <v-icon color="red" @click="eliminarEvento(item)">
                        mdi-close-circle
                      </v-icon>
                    </div>
                  </td>

                  <td class="d-flex align-center sin_border_bottom "
                    v-if="editarEvento == item.id && usuarioAutenticado && usuarioAutenticado.rol == 'admin'"
                  >
                    <div @click="guardarTicket(item)">
                     <v-icon color="black">mdi-checkbox-marked</v-icon>
                    </div>
                    <div @click="editarEvento = null">
                      <v-icon color="black" title="cancelar">mdi-close-box</v-icon>
                    </div>
                  </td>

                  <div class="clearfix visible-xs-block"></div>
                  </tr>
                  <tr v-if="eventosDestacadosVisibles.length == 0">
                    <td colspan="6" class="text-center">
                        Sin registros
                    </td>
                  </tr>
              </tbody>
              </template>
          </v-simple-table>
        </v-col>
      </v-row>
      <v-row class="mt-13">
        <v-col class="text-center" sm="12" md="12">
          <div>
            <span class="black--text font-weight-bold text-left text-uppercase text-h6 border-toolbar">BUSCADOR DE EVENTOS</span>
          </div>
        </v-col>
      </v-row>
      <v-row >
        <v-col md="4" xs="10">
          <v-sheet height="50">
           
            <v-toolbar
            flat
            class="d-contents"
            >
              
              <v-toolbar-title v-if="$refs.calendar">
                  {{ $refs.calendar.title }}
              </v-toolbar-title>

              <v-spacer></v-spacer>
              <v-btn
                  fab
                  text
                  small
                  color="grey darken-2"
                  @click="prev"
              >
                  Prev
              </v-btn>
              <v-btn
                  fab
                  text
                  small
                  color="grey darken-2"
                  @click="next"
              >
                  Next
              </v-btn>
              </v-toolbar>

          </v-sheet>
          <v-sheet height="370" class="mt-6">
              <v-calendar
              height="350"
              ref="calendar"
              v-model="focus"
              color="deep-orange darken-3"
              :events="events"
              :event-color="getEventColor"
              :type="type"
              @click:event="showEvent"
              @click:more="showEvent"
              @click:date="showEvent"
              @change="updateRange"
              :weekdays="comienzoDeSemana"
              :event-name="'Ver'"
              ></v-calendar>
              <v-menu
              v-model="selectedOpen"
              :close-on-content-click="false"
              :activator="selectedElement"
              offset-x
              >
              <v-card
                  color="grey lighten-4"
                  min-width="350px"
                  flat
              >
                  <v-toolbar
                  :color="selectedEvent.color"
                  dark
                  >
                  <v-btn icon>
                      <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                  <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon>
                      <v-icon>mdi-heart</v-icon>
                  </v-btn>
                  <v-btn icon>
                      <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                  </v-toolbar>
                  <v-card-text>
                  <span v-html="selectedEvent.details"></span>
                  </v-card-text>
                  <v-card-actions>
                  <v-btn
                      text
                      color="secondary"
                      @click="selectedOpen = false"
                  >
                      Cancelar
                  </v-btn>
                  </v-card-actions>
              </v-card>
              </v-menu>
          </v-sheet>
        </v-col>
        <div class="clearfix visible-xs-block"></div>
        <v-col md="8" xs="10">
          <v-simple-table class="pt-6">
            <template >
              <tbody>
                  <tr
                    v-for="item in eventosBuscados"
                    :key="item.id"
                  >
                  <td colspan="3">
                    <div class="row mt-2">
                      <img width="35" height="35" :src="'../imagenes/'+item.tipo.logo" alt="" v-if="item.tipo">
                      <span class="d-flex align-center ml-2 orange--text">{{ item.nombre }}</span> 
                    </div>
                  </td>
                  <td>
                    {{ item.fecha | moment('dddd, D MMMM YYYY') }}
                    <br>
                    <span class="font-weight-bold hora_color" v-if="existeHora(item)">
                      <v-icon class="font-weight-bold icon_check_hora" color="green">mdi-check</v-icon>
                      {{ item.fecha | moment('HH:mm') }}
                    </span> 
                    <span class="fecha_no_confirmada" v-else>Fecha no confirmada</span>
                  </td>
                  <td class="sin_border_bottom color_fondo_orange">
                    <div class="cursor centrar-texto" v-if="usuarioAutenticado && usuarioAutenticado.rol == 'admin'" @click="verDisponibilidad(item)">
                      <span> VER EVENTO </span>
                    </div>
                    <div class="cursor centrar-texto" v-else-if="item.visibilidad == 1 && usuarioAutenticado && usuarioAutenticado.rol != 'admin'" @click="verDisponibilidad(item)">
                      <span> VER EVENTO </span>
                    </div>
                    <div class="centrar-texto" v-else-if="item.visibilidad != 1 && usuarioAutenticado && usuarioAutenticado.rol != 'admin'" >
                      <span> CONTÁCTENOS </span>
                    </div>
                  </td>
                  </tr>
                  <tr v-if="eventosBuscados.length == 0">
                    <td colspan="5" class="text-center estilo_sinRegistros">Desplázate por el calendario y selecciona la fecha deseada para ver todos los eventos</td>
                  </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
 
      </v-row>
  </v-container>
</template>
<script>
  // import Swal from 'sweetalert2'

  import moment from 'moment';
  moment.locale('es');  

  export default {
    components: {
      HeaderComponent: () => import('../../componentes/HeaderComponent.vue'),
      PreguntasYrespuestas: () => import('../../componentes/PreguntasYrespuestas.vue'),
    },
    data: () => ({
      preguntas: [],
      logos: [],
      eventosBuscados: [],
      eventosDestacados: [],
      eventosDestacadosVisibles: [],
      comienzoDeSemana: [1, 2, 3, 4, 5, 6, 0],
      editarEvento: null,
      logo_evento: null,
      focus:'',
      type:'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day',
        '4day': '4 Days',
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
      
      dateFormatConfig:  {
        dayOfWeekNames: [
          'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves',
          'Viernes', 'Sábado'
        ],
        dayOfWeekNamesShort: [
          'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'
        ],
        monthNames: [
          'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
          'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
        ],
        monthNamesShort: [
          'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
        ]
      },
      usuarioAutenticado: null,
      duplicando: null
    }),
    beforeCreate () {

      axios
      .get('/api/eventos', {
          headers: { Authorization: "Bearer " + this.$store.state.token }
        })
      .then(response => {
       
        this.$store.dispatch("getUsuario").then(response2 => {
          this.usuarioAutenticado = response2.data

          this.eventosDestacados = response.data[1]
          this.preguntas = response.data[2]
          this.eventosDestacadosVisibles = this.eventosDestacados
          if(this.usuarioAutenticado && this.usuarioAutenticado.rol != 'admin')
            this.eventosDestacadosVisibles = this.eventosDestacados.filter(evento => evento.visibilidad == 1)

     
        });
      });

    },
    mounted () {

      this.$refs.calendar.checkChange()

    },
    methods: {
      
      viewDay ({ date }) {
        // this.focus = date
        // this.type = 'day'
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = ''
      },
      
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ date }) {
        const dateformat = require('dateformat');
        
        date = this.focus

        this.eventosBuscados = []

        for (var i in this.eventosDestacados){

          if (dateformat(this.eventosDestacados[i].fecha, 'yyyy-mm-dd') == date){
            this.eventosBuscados.push(this.eventosDestacados[i])
          }
          
        }

      },
      updateRange ({ start, end }) {
        const events = []

        setTimeout(() => {

          this.eventosDestacados.forEach(evento => {
            
            let encontrado = events.find( event => evento.fecha == event.start );

            if(!encontrado)
            {
              let nuevoEvento = {
                name: '',
                start: evento.fecha,
                end: null,
                color: null
              }

              events.push(nuevoEvento)

            }
            
          });

          this.events = events

        }, 2000); 

      },
      rnd (a, b) {
        return Math.floor((b - a + 1) * Math.random()) + a
      },
      verDisponibilidad(evento)
      {
        this.$router.push({ path: `/eventos/${evento.id}` })
      },
      guardarTicket(evento){
        // console.log(evento)

        //enviar evento a actualizar a api
        axios
        .put('/api/eventos/'+evento.id, {
            evento: evento,
          }, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          }
        )
        .then(response => {
          
          this.eventosDestacados = response.data
          this.editarEvento = null

          this.eventosDestacadosVisibles = this.eventosDestacados
          if(this.usuarioAutenticado && this.usuarioAutenticado.rol != 'admin')
            this.eventosDestacadosVisibles = this.eventosDestacados.filter(evento => evento.visibilidad == 1)


        })
        .catch(error => {
          console.log(error)
        })
      },
      existeHora(evento){
        let hora = moment(evento.fecha).format('HH:mm');

        if(hora == '00:00')
        {
          return false
        }
        else
        {
          return true
        }
         
      },
      duplicarTicket(evento){
        this.duplicando = evento.id

        axios
        .post('/api/eventos', {
            evento: evento,
          }, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          }
        )
        .then(response => {

          this.duplicando = null
          
          this.eventosDestacados = response.data
          this.editarEvento = null

          this.eventosDestacadosVisibles = this.eventosDestacados
          if(this.usuarioAutenticado && this.usuarioAutenticado.rol != 'admin')
            this.eventosDestacadosVisibles = this.eventosDestacados.filter(evento => evento.visibilidad == 1)

        })
        .catch(error => {
          console.log(error)
          this.duplicando = null

        })

      },
      cambiarVisibilidad(evento){
        let visibilidad

        if(evento.visibilidad == 1)
        {
          visibilidad = 0
        }
        else
        {
          visibilidad = 1
        }

        axios
        .post('/api/cambiar-visibilidad', {
            evento: evento, 
                                               
            visibilidad: visibilidad
          }, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          }
        )
        .then(response => {

          this.eventosDestacados = response.data

          this.eventosDestacadosVisibles = this.eventosDestacados
          if(this.usuarioAutenticado && this.usuarioAutenticado.rol != 'admin')
            this.eventosDestacadosVisibles = this.eventosDestacados.filter(evento => evento.visibilidad == 1)

        })
        .catch(error => {
          console.log(error)
        })

      },
      eliminarEvento(evento){

        var opcion = confirm("¿Estás seguro de querer eliminar?");

      if (opcion == true) {

        axios
          .delete('/api/eventos/'+evento.id, {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
          .then(response => {

            this.eventosDestacados = response.data

            this.eventosDestacadosVisibles = this.eventosDestacados
            if(this.usuarioAutenticado && this.usuarioAutenticado.rol != 'admin')
              this.eventosDestacadosVisibles = this.eventosDestacados.filter(evento => evento.visibilidad == 1)

              // Swal.fire(
              //   'Eliminado',
              //   'El evento ha sido eliminado.',
              //   'success'
              // )

            })
            .catch(error => {
              console.log(error)
              // Swal.fire({
              //   icon: 'error',
              //   title: 'Oops...',
              //   text: 'No se ha podido eliminar el evento.'
              // })
            })

      }

        // Swal.fire({
        //   title: '¿Estás seguro?',
        //   text: "No se podrán revertir los cambios.",
        //   icon: 'warning',
        //   showCancelButton: true,
        //   confirmButtonColor: '#3085d6',
        //   cancelButtonColor: '#d33',
        //   confirmButtonText: 'Si, estoy seguro.'
        // }).then((result) => {
        //   if (result.isConfirmed) {

        //     axios
        //     .delete('/api/eventos/'+evento.id, {
        //         headers: { Authorization: "Bearer " + this.$store.state.token }
        //       })
        //     .then(response => {

        //       this.eventosDestacados = response.data

        //     this.eventosDestacadosVisibles = this.eventosDestacados
        //     if(this.usuarioAutenticado && this.usuarioAutenticado.rol != 'admin')
        //       this.eventosDestacadosVisibles = this.eventosDestacados.filter(evento => evento.visibilidad == 1)

        //        Swal.fire(
        //         'Eliminado',
        //         'El evento ha sido eliminado.',
        //         'success'
        //       )

        //     })
        //     .catch(error => {
        //       console.log(error)
        //       Swal.fire({
        //         icon: 'error',
        //         title: 'Oops...',
        //         text: 'No se ha podido eliminar el evento.'
        //       })
        //     })
           
        //   }
        // })
      

      },
      guardarPregunta(item){
        axios
        .put('/api/preguntas/'+item.id, {
            item,
          }, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          }
        )
        .then(response => {
          
          // this.preguntas = response.data
          this.editar = null

        })
        .catch(error => {
          console.log(error)
        })
      }
    },
  }
</script>
<style scoped>
  .sin_border_bottom{
    border-bottom: 0;
  }
  .v-calendar-weekly{
      height: 350px;
  }

  .img {
    height: 35px;
  }

  .theme--light.v-calendar-weekly{
    border-bottom: 1px solid #D84315;
  }
  .theme--light.v-calendar-weekly.v-btn__content{
    color: #D84315
    !important;
  }
  .border-toolbar{
    border-bottom: 4px solid #D84315;
  }
  .color_fondo_orange{
    background-color: #E65100;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 20%;
    font-weight: 600;
  }

  .cursor{
    cursor: pointer;
  }

  .icon_check_hora{
    font-size: 14px!important;
  }
  .fecha_no_confirmada{ 
    color: red;
    font-size: 12px;
    font-weight: black;
  }
  .hora_color{
    font-size: 10px;
    color: green;
  }
  .centrar-texto{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .estilo_sinRegistros{
    background: #e6512aad;
    align-items: center;
    text-align: center;
    align-content: center;
    display: grid;
    color: white;
    font-size: 2.6vh !important;
    height: 70px !important;
  }

@media only screen and (max-width: 768px) {
  .Sizeinput caption{
    display: block;
  }
.Sizeinput {
  width: 12px;
}
}
</style>