<template>
    <v-app>
      <header-component :logo="logo" :telefono="telefono" v-if="$store.getters.autenticado" />
      <!-- <menu-component v-if="$store.getters.autenticado" />  -->
      
      <v-main>

          <section class="section">
            <main>
              <router-view></router-view>
            </main>
          </section>
    
      </v-main>

    </v-app>
</template>

<script>
  export default {
    components: {
      MenuComponent: () => import('../componentes/MenuComponent.vue'),
      HeaderComponent: () => import('../componentes/HeaderComponent.vue'),
    },
  data: () => ({
      logo: null,
      telefono: null,
    }),
    beforeCreate(){
      // this.$store.dispatch("getConfiguracion").then(response => { })
      axios
        .get('/api/configuracion')
        .then(response => {
          this.telefono = response.data.telefono
          this.logo = response.data.logo
     
      });
    },
    

  };
</script>
