<template>
  <div>
    <span class="background" v-bind:style="{ 'background-image': 'url(' + imagen + ')'}"/>

    <div class="container" justify-content="center">
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3 col-sm-12">
          <div :class="error || message ? 'cardSize2 box text-center' : 'cardSize box text-center'">
            <div>
              <img class="logoSize" :src="'../imagenes/'+logo" v-if="logo">
            </div>
            
            <div class="notification is-danger" v-if="error"><p>{{ error }}</p></div>
            <div class="notification is-success" v-if="message"><p>{{ message }}</p></div>
            <div class="notification is-danger" v-if="errorCodigo"><p>{{ errorCodigo }}</p></div>
            <div class="notification is-success" v-if="messageCodigo"><p>{{ messageCodigo }}</p></div>

            <div class="FormSize">
              <form class="pl-5 pr-5" autocomplete="off" @submit.prevent="login" method="post">
                <div class="field" v-show="!validarCodigo">
                  <div class="control">
                      <v-text-field color="deep-orange darken-2" v-model="username" label="Correo electrónico"
                      prepend-icon="mdi-account">
                      </v-text-field>
                  </div>
                </div>
                <div class="field" v-show="!validarCodigo">
                  <div class="control"> 
                          <v-text-field
                            color="deep-orange darken-2"
                            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show2 ? 'text' : 'password'" 
                            @click:append="show2 = !show2"
                            v-model="password" label="Contraseña"
                            prepend-icon="mdi-key-variant"
                            v-show="!mostrarRecuperar"
                          >
                          </v-text-field>
                  </div>
                </div>
                <div class="field" v-show="mostrarNuevaContrasenia">
                    <div class="control"> 
                        <v-text-field
                          color="deep-orange darken-2" 
                          :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                          :type="show2 ? 'text' : 'password'" 
                          label="Nueva contraseña"
                          v-model="password" 
                          @click:append="show2 = !show2"
                          prepend-icon="mdi-key-variant"
                        >
                        </v-text-field>
                    </div>
                  </div>
                  <div class="field" v-show="validarCodigo && !mostrarNuevaContrasenia">
                    <div class="control"> 
                        <v-text-field
                          color="deep-orange darken-2" 
                          type="text" 
                          label="Ingrese código enviado a su correo"
                          v-model="codigo" 
                        >
                        </v-text-field>
                    </div>
                  </div>
                <div class="mb-6 text-right" v-show="!validarCodigo">
                    <!-- <v-checkbox color="deep-orange darken-2" v-model="recordar" label="Recordar contraseña"> </v-checkbox> -->
                  
                  <span class="colorLink" @click="mostrarRecuperar = false" v-if="mostrarRecuperar">Recordé mi contraseña</span>
                  <span class="colorLink" @click="mostrarRecuperar = true" v-else>Recuperar mi contraseña</span>
                </div>

                <div class="text-center">
                  <v-btn 
                    type="button"
                    @click="enviarCodigo()"
                    class="ma-2"
                    color="deep-orange darken-2"
                    dark
                    v-if="mostrarRecuperar && !validarCodigo"
                    :loading="loading"
                  >
                    Recuperar 
                  </v-btn>
                  <v-btn 
                    type="submit"
                    class="ma-2"
                    color="deep-orange darken-2"
                    dark
                    v-else-if="!validarCodigo"
                    :loading="loading"
                  >
                    <span >Ingresar</span> 
                  </v-btn>
                  <v-btn
                    type="button"
                    @click="validarCodigoRecibido()"
                    class="ma-2"
                    color="deep-orange darken-2"
                    dark
                    v-else-if="validarCodigo && !codigoValidado"
                    :loading="loading"
                  >
                    <span >Validar</span> 
                  </v-btn>
                  <v-btn 
                    type="button"
                    @click="recuperarContrasenia()"
                    class="ma-2" color="deep-orange darken-2"
                    dark
                    v-else
                    :loading="loading"
                  >
                    <span >Guardar</span> 
                  </v-btn>
                </div>    
              </form>
            </div>  
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>

export default {

  data() {
    return {

      username: null,
      password: null,
      codigo: null,
      show2: false,
      recordar: false,
      imagen: null,
      logo: null,
      error: null,
      errorCodigo: null,
      message: localStorage.getItem('usuarioCreado') || null,
      messageCodigo:  null,
      mostrarRecuperar: false,
      mostrarNuevaContrasenia: false,
      validarCodigo: false,
      codigoValidado: false,
      loading: false,
      loader: null
    };
  },
  beforeCreate: function() {

      axios
        .get('/api/configuracion')
        .then(response => {
          this.imagen = '/imagenes/'+ response.data.fondo
          this.logo = response.data.logo
     
        });
    
  },
  methods: {
    
    login() {

      if(this.username && this.password)
      {
        this.loading = true

        this.$store
        .dispatch("recuperarToken", {
          username: this.username,
          password: this.password
        })
        .then(response => {

          this.loading = false

          if(response.status == 400){
          //  this.error = error.response.data;
            this.$toastr.e(error.response.data)

          }
          else{
           this.$router.push({ name: "eventosIndex" });
          }
      
        })
        .catch(error => {
          this.loading = false
          this.$toastr.e(error.response.data)
          // this.error = error.response.data;
        });
      }
     
    },
    enviarCodigo()
    {
      if(this.username)
      {

        let codigo = Math.random().toString(36).substring(7);
        this.loading = true

        axios.post('/api/enviando-codigo', {
          username: this.username,
          codigo: codigo,
        })
        .then(response => {
       
          
          if(response.data == 'Usuario no existe.')
          {
            // this.errorCodigo = 'Usuario no existe.'
            this.$toastr.e("Usuario no existe.")

            this.loading = false
          }
          else
          {
            this.$toastr.s("Código de recuperación enviado con éxito.")

            // this.messageCodigo = 'Código de recuperación enviado con éxito.'
            this.errorCodigo = null
            this.loading = false

            localStorage.setItem('codigoRecuperacion', codigo)
            this.validarCodigo = true

          }
           
        })
        .catch(error => {
          console.log(error)
          // this.errorCodigo = 'Hubo un error al enviar el código de recuperación.'
          this.$toastr.e("Hubo un error al enviar el código de recuperación.")


        })
      }
    },
    validarCodigoRecibido()
    {

      if(this.codigo)
      {
        this.loading = true

        if(this.codigo === localStorage.getItem('codigoRecuperacion'))
        {
          this.codigoValidado = true
          this.mostrarNuevaContrasenia = true
          this.errorCodigo = null
          this.$toastr.s("Código validado correctamente.")

          // this.messageCodigo = 'Código validado correctamente.'
          this.loading = false
        }
        else
        {
          this.messageCodigo = null
          // this.errorCodigo = 'El código es incorrecto.'
          this.$toastr.e("El código es incorrecto.")

          this.loading = false
        }
      }
      
    },
    recuperarContrasenia()
    {
      if(this.password)
      {
        this.loading = true
       
       axios.post('/api/recuperar-contrasenia', {
          username: this.username,
          password: this.password,
        })
        .then(response => {
            this.mostrarRecuperar = false
            this.mostrarNuevaContrasenia = false
            this.validarCodigo = false
            this.codigoValidado = false
            this.loading = false
            this.errorCodigo = null
            this.messageCodigo = null
            this.$toastr.s("Su contraseña ha sido cambiada con éxito.")

            // this.message = 'Su contraseña ha sido cambiada con éxito.'
        })
        .catch(error => {
          console.log(error)
          this.loading = false
          // this.errorCodigo = 'Error al cambiar contraseña'
          this.$toastr.e("Error al cambiar contraseña.")

          this.message = null

        })
      }
    }
  },
};
</script>

<style>
  .sinborde {
    border-top: none;
    border-right: none;
    border-left: none;
     }
   .background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;

   }
   /* .FormSize{
    width: 470px;
   } */
   .alignForm{
      justify-content: center;
   }
   .cardSize {
      background-color: #ffffffc2 !important;
      height: 395px;
   }
   .cardSize2 {
      background-color: #ffffffc2 !important;
      height: 475px;
   }
   .logoSize {
    width: 200px;
   }
   .colorLink{
    color: #e64a19 !important;
    margin-top: 16px;
    padding-top: 4px;
    cursor: pointer;
   }
</style>
