<template>
  <div>
    <h1 class="title">No encontrado</h1>
    <p>¡Ups! Parece que no se puede encontrar la página que solicitó.</p>
  </div>
</template>

<script>
export default {

  created () {
    this.initialize()
  },

  methods: {
    // initialize () {

    //   axios
    //   .get('/api/prueba', {
    //       headers: { Authorization: "Bearer " + this.$store.state.token }
    //     })
    //   .then(response => {
    //     console.log('response.data')
    //   });
    // },
  },
 
};
</script>
