<template>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="reservas"
      :search="search"
      :no-results-text="'No se encontraron datos'"
      :no-data-text="'Sin resultados'"
      :footer-props="{
        'items-per-page-options': [5, 10, 15, 20],
        'items-per-page-text': ''
      }"
      :items-per-page="5"
    >
      <template v-slot:item.fecha ="{ item }">
        <span>{{ item.fecha | moment('D MMMM YYYY HH:mm:ss') }}</span>
      </template>
      <template v-slot:item.created_at = "{ item }">
        <span>{{ item.created_at | moment("add", "1 hours ", 'D MMMM YYYY HH:mm:ss') }}</span>
      </template>
      <template v-slot:item.plus="{ item }">
        <span>{{ obtenerPrecioPlus(item) }}</span>
      </template>
      <template v-slot:item.comision="{ item }">
        <span>{{ obtenerPrecioComision(item) }}</span>
      </template> 
      <template v-slot:item.total="{ item }">
        <span>{{ obtenerPrecioTotal(item) + ' €' }}</span>
      </template>
      <template v-slot:item.eliminar="{ item }">
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
     <template v-slot:bootom="{ pagination, options, updateOptions }">
        <v-data-footer 
          :pagination="pagination" 
          :options="options"
          @update:options="updateOptions"
          items-per-page-text="$vuetify.dataTable.itemsPerPageText"/>
      </template>
    
    </v-data-table>

      <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm" >Si</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
  </v-card>
</template>
<script>
  import moment from 'moment';
  moment.locale('es');  

  export default {
    data () {
      return {
        search: '',
        editedIndex: null,
        dialogDelete: false,
        headers: [
          {
            text: 'Evento',
            align: 'start',
            value: 'evento',
          },
          { text: 'Fecha y hora', value: 'fecha', sortable: false  },
          { text: 'Cliente', value: 'cliente' },
          { text: 'Usuario', value: 'usuario', sortable: false  },
          { text: 'Conserje', value: 'conserje', sortable: false  },
          { text: 'Fecha de reserva', value: 'created_at' },
          { text: 'N° Tickets', value: 'numero', sortable: false  },
          { text: 'Categoría', value: 'categoria', sortable: false  },
          { text: 'Sector', value: 'sector', sortable: false  },
          { text: 'Juntas', value: 'juntas', sortable: false  },
          { text: 'Formato', value: 'formato', sortable: false  },
          { text: 'P. Neto', value: 'precioUd', sortable: false  },
          { text: 'P. Neto + %plus', value: 'plus', sortable: false  },
          { text: 'P. Neto + %plus + %comisión', value: 'comision', sortable: false  },
          { text: 'P. Total', value: 'total', sortable: false  },
          { text: 'Eliminar', value: 'eliminar', sortable: false  },
        ],
        
      }
    },
    props:{
      reservas: {
          type: Array,
          default: []
      }
    },
    methods: {
      obtenerPrecioPlus(reserva){
        let dp = reserva.precioUd * reserva.plus
        let pnp = parseFloat(reserva.precioUd) + parseFloat(dp)
        let resultado = pnp.toFixed(2)
        return parseInt(resultado)
      },
      obtenerPrecioComision(reserva){
        let dc = parseFloat(this.obtenerPrecioPlus(reserva)) * reserva.comision
        let totalUnitario = parseFloat(this.obtenerPrecioPlus(reserva))  + parseFloat(dc)
        let resultado = totalUnitario.toFixed(2)
        return parseInt(resultado)
      },
      obtenerPrecioTotal(reserva){
        let resultado = reserva.numero * this.obtenerPrecioComision(reserva)

        resultado = resultado.toFixed(2)
        return parseInt(resultado)
      },
      deleteItem (item) {
        this.editedIndex = this.reservas.indexOf(item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let reserva =  this.reservas[this.editedIndex]

         axios
        .delete('/api/reservacion/'+this.reservas[this.editedIndex].id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.reservas.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("Reserva eliminada correctamente.")

        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1
      },
    }
  }
</script>