<template>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="reservas"
      :search="search"
      :no-results-text="'No se encontraron datos'"
      :no-data-text="'Sin resultados'"
      :footer-props="{
        'items-per-page-options': [5, 10, 15, 20],
        'items-per-page-text': ''
      }"
      :items-per-page="5"
    >
      <template v-slot:item.fecha ="{ item }">
        <span>{{ item.fecha | moment('D MMMM YYYY HH:mm:ss') }}</span>
      </template>
      <template v-slot:item.created_at = "{ item }">
        <span>{{ item.created_at | moment("add", "1 hours ", 'D MMMM YYYY HH:mm:ss') }}</span>
      </template>
      <template v-slot:item.precioUd="{ item }">
        <span>{{ obtenerPrecioTotal(item) + ' €' }}</span>
      </template>
      <template v-slot:bootom="{ pagination, options, updateOptions }">
        <v-data-footer 
          :pagination="pagination" 
          :options="options"
          @update:options="updateOptions"
          items-per-page-text="$vuetify.dataTable.itemsPerPageText"/>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: 'Evento',
            align: 'start',
            value: 'evento',
            sortable: false 
          },
          { text: 'Fecha y hora', value: 'fecha', sortable: false  },
          { text: 'Categoría', value: 'categoria', sortable: false  },
          { text: 'N° Tickets', value: 'numero', sortable: false  },
          { text: 'Sector', value: 'sector', sortable: false  },
          { text: 'Juntas', value: 'juntas', sortable: false  },
          { text: 'Formato', value: 'formato', sortable: false  },
          { text: 'Conserje', value: 'conserje', sortable: false  },
          { text: 'Fecha de reserva', value: 'created_at', sortable: false  },
          { text: 'Precio Final', value: 'precioUd', sortable: false  },
        ],
        
      }
    },
     props:{
      reservas: {
          type: Array,
          default: []
      }
    },
    methods: {
      obtenerPrecioTotal(reserva){

        let dp = reserva.precioUd * reserva.plus
        let pnp = parseFloat(reserva.precioUd) + parseFloat(dp)
        pnp = parseInt(pnp)

        let dc = pnp * reserva.comision
        let totalUnitario = pnp  + parseFloat(dc)
        let resultado = parseInt(totalUnitario)

        resultado = reserva.numero * resultado

        resultado = resultado.toFixed(2)

        return parseInt(resultado)
      }
    }
  }
</script>