<template>
   <v-row md="12" class="mt-10" xs="12" justify="center">
       <p class="font-weight-bold text-center text-uppercase">
            <span class="fuente-elDoble" >
              Historial de pedidos
            </span>
        </p>
        <v-col md="12" xs="12"  v-show="usuarioAutenticado && usuarioAutenticado.rol == 'admin'">

            <listado-admin-component
              :reservas="reservas"
            />
            
        </v-col>

        <v-col md="12" xs="12" v-show="usuarioAutenticado && usuarioAutenticado.rol == 'cliente'">

            <listado-usuario-component
              :reservas="reservas"
            />
        </v-col>
   </v-row>
</template>

<script>

export default {
  components: {
    ListadoAdminComponent: () => import('./ListadoAdminComponent.vue'),
    ListadoUsuarioComponent: () => import('./ListadoUsuarioComponent.vue'),
  },
  data: () => ({
    usuarioAutenticado: null,
    reservas: []
  }),
  
  beforeCreate(){

    this.$store.dispatch("getUsuario").then(response => {
        this.usuarioAutenticado = response.data
    })
  },
  created(){
    this.initialize()
  },
  computed:{},
  methods: {
    initialize () {

        axios
        .get('/api/reservacion', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.reservas = response.data
        });
    },

  }
}
</script>

<style scoped>
  
  
</style>