<template>
  <v-card>
      <v-card-title>
          <span class="text-h5">Tipos de eventos</span>
      </v-card-title>

      <v-card-text>
          <v-container>
              <v-row>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  v-model="nombre"
                  label="Tipo de evento"
                  :error-messages="nombreErrores" 
                    @input="$v.nombre.$touch()" 
                    @blur="$v.nombre.$touch()"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="6"
              >
                <v-file-input
                  v-model="logo"
                  :rules="rules"
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="Logo del evento"
                ></v-file-input>
              </v-col>
              
            </v-row>
          </v-container>
      </v-card-text>

      <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
          color="blue darken-1"
          text
          @click="cancelar"
          >
          Cancelar
          </v-btn>
          <v-btn
          color="blue darken-1"
          text
          @click="guardar"
          >
          Guardar
          </v-btn>
      </v-card-actions>
  </v-card>

</template>

<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      nombre: null,
        logo: null,
        rules: [
          value => !value || value.size < 2000000 || 'Tamaño máximo de 2 MB!',
       ],
    }),

    validations() {
     
      return {
        nombre: { required },
      }
    },


    computed: {
      nombreErrores () {
        const errors = []
        if (!this.$v.nombre.$dirty) return errors
        !this.$v.nombre.required && errors.push('El campo estadio es obligatorio.')
        return errors
      },
    },


    methods: {

      guardar(){

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {
          let formData = new FormData();
          formData.append('nombre', this.nombre);
          formData.append('logo', this.logo);


          const config = {
              headers: {
                  'content-type': 'multipart/form-data',
                  Authorization: "Bearer " + localStorage.getItem('access_token'),
              }
          }

          return new Promise((resolve, reject) => {
            axios.post('/api/tipos', formData, config)
              .then(response => {
                this.nombre= null
                this.logo = null
                
                this.$router.push({ path: `/admin/tipos-eventos` });

                // this.$toastr.s("Ha sido actualizado correctamente.")

              })
              .catch(error => {
                reject(error)
                this.$toastr.e("Error al actualizar los tipos de eventos")

              })
          })
            
        }
         
      },
      cancelar()
      {
          this.$router.push({ path: `/admin/tipos-eventos` })
      }

    }


    }
  
</script>