
<template>
  <v-data-table
    :headers="headers"
    :items="tipos"
    sort-by="nombre"
    class="elevation-1"
    :no-results-text="'No se encontraron datos'"
    :no-data-text="'Sin resultados'"
  >

    <template v-slot:item.logo="{ item }">
       <v-img width="40px" height="40px"
          :src="'../imagenes/'+item.logo"
        ></v-img>
    </template>
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Tipos de eventos</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>



          <!-- FORMULARIO -->
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="nuevo()"
            >
              Nuevo tipo de evento
            </v-btn>
          </template>

          
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-text-field
                      v-model="nombre"
                      label="Tipo de evento"
                      :error-messages="nombreErrores" 
                      @input="$v.nombre.$touch()" 
                      @blur="$v.nombre.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                      <v-file-input
                            v-model="logo"
                            :rules="rules"
                            accept="image/png, image/jpeg, image/bmp"
                            prepend-icon="mdi-camera"
                            label="Logo del evento"
                        ></v-file-input> 
                  </v-col>                       
                 
                  <!-- <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                   <v-text-field
                      v-model="estado"
                      label="Estado"
                      :error-messages="estadoErrores" 
                        @input="$v.estado.$touch()" 
                      @blur="$v.estado.$touch()"
                    ></v-text-field>
                  </v-col> -->
                 
                </v-row>
                <v-row>
                  <v-col >
                      <v-img
                        :src="'../imagenes/'+imagenMostrar"
                      ></v-img>
                    </v-col>
                </v-row>
                    
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>


        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de querer eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Si</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <span>Sin registros</span>
    </template>
  </v-data-table>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      show2: false,
      headers: [
        {
          text: 'tipo de evento',
          align: 'start',
          sortable: false,
          value: 'nombre',
        },
        { text: 'Logo del evento', value: 'logo', sortable: false  },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      tipos: [],
      editedIndex: -1,
      nombre: null,
      logo: null,
      rules: [
          value => !value || value.size < 2000000 || 'Tamaño máximo de 2 MB!',
       ],
       imagenMostrar: null
     
    }),

    validations() {
     
      return {
        nombre: { required },
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo tipo' : 'Editar tipo'
      },
      nombreErrores () {
        const errors = []
        if (!this.$v.nombre.$dirty) return errors
        !this.$v.nombre.required && errors.push('El campo nombre es obligatorio.')
        return errors
      },

     
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()

    },

    methods: {
      initialize () {

        axios
        .get('/api/tipos', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.tipos = response.data
        });
      },

      nuevo()
      {
          this.$router.push({ path: `/admin/nuevo-tipo-evento` })
      },


      editItem (item) {
        this.editedIndex = this.tipos.indexOf(item)
        // this.editedItem = Object.assign({}, item)

        let tipoo = Object.assign({}, item)
        this.nombre = tipoo.nombre
        this.logo = null
        this.imagenMostrar = tipoo.logo
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.tipos.indexOf(item)
        // this.editedItem = Object.assign({}, item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let confirTipo =  this.tipos[this.editedIndex]

         axios
        .delete('/api/tipos/'+confirTipo.id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.tipos.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("registro eliminado correctamente.")


        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      close () {
        this.dialog = false
        this.editedIndex = -1
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1

      },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

            this.edit()
            this.close()
            this.initialize()
        }
      },

      edit () {

        let formData = new FormData();
        formData.append('id', this.tipos[this.editedIndex].id);
        formData.append('nombre', this.nombre);
        formData.append('logo', this.logo);

        const config = {
            headers: {
                'content-type': 'multipart/form-data',
                Authorization: "Bearer " + localStorage.getItem('access_token'),
            }
        }

        return new Promise((resolve, reject) => {
          axios.post('/api/tipos/', formData, config)
            .then(response => {
              this.close()
              this.initialize()

              this.$toastr.s("Registro editado correctamente.")

              resolve(this.tipos)
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })

            
      },


    },
  }
</script>