<template>
    <v-card>
        <v-card-title>
            <span class="text-h5">Nuevo grupo</span>
        </v-card-title>

        <v-card-text>
            <v-container>
              <v-row>
                  <v-col
                    cols="12"
                    sm="4"
                    md="4"
                  >
                    <v-text-field
                      v-model="numero"
                      label="Numero"
                      type="number"
                      :error-messages="numeroErrores" 
                      @input="$v.numero.$touch()" 
                      @blur="$v.numero.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="4"
                    md="4"
                  >
                    <v-text-field
                      v-model="cantidad_max_disponible"
                      type="number"
                      label="Cantidad max disponible"
                      :error-messages="cantidad_max_disponibleErrores" 
                      @input="$v.cantidad_max_disponible.$touch()" 
                      @blur="$v.cantidad_max_disponible.$touch()"
                    ></v-text-field>
                  </v-col>

                   <v-col
                    cols="12"
                    sm="4"
                    md="4"
                  >
                    <v-switch
                      v-model="permitir_ticket_max"
                      :label="'Permitir ticket max'"
                    ></v-switch>
                  </v-col>
                 
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-select
                      v-model="evento"
                      :items="eventos"
                      label="Seleccione Evento"
                      item-text="nombre"
                      item-value="id"
                      return-object
                      multiple
                      :error-messages="eventosErrores" 
                      @input="$v.evento.$touch()" 
                      @blur="$v.evento.$touch()"
                    ></v-select>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="6"
                    >
                      <v-select
                        v-model="categoria"
                        :items="categorias"
                        label="Seleccione categoría"
                        item-text="nombre"
                        item-value="id"
                        return-object
                        multiple  
                        :error-messages="categoriasErrores" 
                        @input="$v.categoria.$touch()" 
                        @blur="$v.categoria.$touch()"                      
                      >
                          
                      </v-select>
                    </v-col>

                </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue darken-1"
            text
            @click="cancelar"
            >
            Cancelar
            </v-btn>
            <v-btn
            color="blue darken-1"
            text
            @click="save"
            >
            Guardar
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      grupos: [],
      eventos: [],
      categorias: [],
      categoriasEventos: [],
      editedIndex: -1,
      numero: null,
      cantidad_max_disponible: null,
      permitir_ticket_max: 1,
      categoria_evento_id: null,
      evento: null,
      categoria: null,

    }),

    validations() {
      return {
        numero: { required },
        cantidad_max_disponible: { required },
        permitir_ticket_max: { required },
        evento: { required },
        categoria: { required },
      }
    },

    computed: {
      
      numeroErrores () {
        const errors = []
        if (!this.$v.numero.$dirty) return errors
        !this.$v.numero.required && errors.push('El campo Numero es obligatorio.')
        return errors
      },
      permitir_ticket_maxErrores() {
        const errors = []
        if (!this.$v.permitir_ticket_max.$dirty) return errors
        !this.$v.permitir_ticket_max.required && errors.push('El campo Permitir ticket max es obligatorio.')
        return errors
      },
      cantidad_max_disponibleErrores() {
        const errors = []
        if (!this.$v.cantidad_max_disponible.$dirty) return errors
        !this.$v.cantidad_max_disponible.required && errors.push('El campo Cantidad max disponible es obligatorio.')
        return errors
      },
      eventosErrores (){
        const errors = []
        if (!this.$v.evento.$dirty) return errors
        !this.$v.evento.required && errors.push('El campo Evento es obligatorio.')
        return errors
      },

      categoriasErrores (){
        const errors = []
        if (!this.$v.categoria.$dirty) return errors
        !this.$v.categoria.required && errors.push('El campo Categoría es obligatorio.')
        return errors
      },
    
    },

    created () {
      this.initialize()

    },

    methods: {

        initialize () {

          axios
          .get('/api/grupos', {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
          .then(response => {
            this.grupos = response.data[0]
            this.categoriasEventos = response.data[1]
            this.eventos = response.data[2]
            this.categorias = response.data[3]
          });
        },

        cancelar()
        {
            this.$router.push({ path: `/admin/grupos` })
        },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            numero : this.numero,
            cantidad_max_disponible : this.cantidad_max_disponible,
            permitir_ticket_max : this.permitir_ticket_max,
            evento: this.evento,
            categoria: this.categoria,
          }
          
          this.create(editedItem)
            
        }
      },

      create (editedItem) {

         return new Promise((resolve, reject) => {
          axios.post('/api/grupos', editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              this.cancelar()
              this.$toastr.s("Nuevo grupo registrado correctamente.")

              resolve(this.categorias)
            })
            .catch(error => {
              reject(error)
              this.$toastr.e("Error al crear grupo.")

            })
        })
      },

      toggle () {
        this.$nextTick(() => {
          if (this.likesAllFruit) {
            this.eventosSeleccionados = []
          } else {
            this.eventosSeleccionados = this.eventos.slice()
          }
        })
      },
    },
  }
</script>
