<template>
  <v-data-table
    :headers="headers"
    :items="grupos"
    sort-by="numero"
    class="elevation-1"
    :no-results-text="'No se encontraron datos'"
    :no-data-text="'Sin resultados'"
  >

    <template v-slot:item.permitir_ticket_max ="{ item }">
      <span v-if="item.permitir_ticket_max">Si</span>
      <span v-else>No</span>
    </template>
    <template v-slot:item.categoria_evento_id ="{ item }">
      <span >{{mostrarEventoCategoria(item.categoria_evento_id)}}</span>
    </template>
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Grupos</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>

        <!-- FORMULARIO -->
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="nuevo()"
            >
              Nuevo grupo
            </v-btn>
          </template>

          
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="4"
                    md="4"
                  >
                    <v-text-field
                      v-model="numero"
                      label="Numero"
                      type="number"
                      :error-messages="numeroErrores" 
                      @input="$v.numero.$touch()" 
                      @blur="$v.numero.$touch()"
                      :disabled="true"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="4"
                    md="4"
                  >
                    <v-text-field
                      v-model="cantidad_max_disponible"
                      type="number"
                      label="Cantidad max disponible"
                      :error-messages="cantidad_max_disponibleErrores" 
                      @input="$v.cantidad_max_disponible.$touch()" 
                      @blur="$v.cantidad_max_disponible.$touch()"
                    ></v-text-field>
                  </v-col>

                   <v-col
                    cols="12"
                    sm="4"
                    md="4"
                  >
                    <v-switch
                      v-model="permitir_ticket_max"
                      :label="'Permitir ticket max'"
                    ></v-switch>
                  </v-col>
                 
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-select
                      v-model="evento"
                      :items="eventos"
                      label="Seleccione Evento"
                      item-text="nombre"
                      item-value="id"
                      return-object
                      single-line
                      :disabled="true"
                    ></v-select>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="6"
                    >
                      <v-select
                        v-model="categoria"
                        :items="categorias"
                        label="Seleccione categoría"
                        item-text="nombre"
                        item-value="id"
                        return-object
                        single-line
                        :disabled="true"
                        
                      >
                          
                      </v-select>
                    </v-col>

                    <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <span v-if="!evento || !categoria"> <strong>Evento y/o categoría ya no disponible, este grupo no se puede editar.</strong></span>
                    </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
                :disabled="!evento || !categoria"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <!-- <v-btn color="blue darken-1" text @click="deleteItemConfirm" >Si</v-btn> -->
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <!-- <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon> -->
    </template>
    <template v-slot:no-data>
      <span>Sin registros</span>
    </template>
  </v-data-table>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      show2: false,
      headers: [
        {
          text: 'Numero',
          align: 'start',
          sortable: false,
          value: 'numero',
        },
        { text: 'Cantidad max disponible', value: 'cantidad_max_disponible', sortable: false  },
        { text: 'Permitir ticket max', value: 'permitir_ticket_max', sortable: false  },
        {text: 'Evento/Categoría', value: 'categoria_evento_id', sortable: false},
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      grupos: [],
      eventos: [],
      categorias: [],
      categoriasEventos: [],
      editedIndex: -1,
      numero: null,
      cantidad_max_disponible: null,
      permitir_ticket_max: null,
      categoria_evento_id: null,
      evento: null,
      categoria: null,
      
     
    }),

    validations() {
     
      return {
        numero: { required },
        cantidad_max_disponible: { required },
        permitir_ticket_max: { required },
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo grupo' : 'Editar grupo'
      },
      numeroErrores () {
        const errors = []
        if (!this.$v.numero.$dirty) return errors
        !this.$v.numero.required && errors.push('El campo Numero es obligatorio.')
        return errors
      },
      permitir_ticket_maxErrores() {
        const errors = []
        if (!this.$v.permitir_ticket_max.$dirty) return errors
        !this.$v.permitir_ticket_max.required && errors.push('El campo Permitir ticket max es obligatorio.')
        return errors
      },
      cantidad_max_disponibleErrores() {
        const errors = []
        if (!this.$v.cantidad_max_disponible.$dirty) return errors
        !this.$v.cantidad_max_disponible.required && errors.push('El campo Cantidad max disponible es obligatorio.')
        return errors
      },

     
     
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()

    },

    methods: {
      initialize () {

        axios
        .get('/api/grupos', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.grupos = response.data[0]
          this.categoriasEventos = response.data[1]
          this.eventos = response.data[2]
          this.categorias = response.data[3]
        });
      },

      nuevo()
      {
          this.$router.push({ path: `/admin/nuevo-grupo` })
      },


      editItem (item) {
        this.editedIndex = this.grupos.indexOf(item)

        let grupo = Object.assign({}, item)
        this.numero = grupo.numero
        this.cantidad_max_disponible = grupo.cantidad_max_disponible,
        this.permitir_ticket_max = grupo.permitir_ticket_max,
        this.categoria_evento_id = grupo.categoria_evento_id,
        this.eventosCategoriasSeleccionados = grupo.categoriasEventos
        this.dialog = true

        let encontrado = this.categoriasEventos.find( categoriaEvento => grupo.categoria_evento_id == categoriaEvento.id )

        if(encontrado)
        {
          this.evento = encontrado.evento
          this.categoria = encontrado.categoria
        }
        
      },

      deleteItem (item) {
        this.editedIndex = this.grupos.indexOf(item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let grupo =  this.grupos[this.editedIndex]

         axios
        .delete('/api/grupos/'+grupo.id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.grupos.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("Grupo eliminado correctamente.")

        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      close () {
        this.dialog = false
        this.editedIndex = -1
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1

      },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            numero : this.numero,
            cantidad_max_disponible : this.cantidad_max_disponible,
            permitir_ticket_max : this.permitir_ticket_max,
            categoria_evento_id: this.categoria_evento_id,
            evento: this.evento,
            categoria: this.categoria,
          }
           
          this.edit(editedItem)
        }
      },

      edit (editedItem) {

          //api para enviar datos del usuario a guardar
        return new Promise((resolve, reject) => {
          axios.put('/api/grupos/'+this.grupos[this.editedIndex].id, editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              Object.assign(this.grupos[this.editedIndex], editedItem)
              this.close()

              this.$toastr.s("Grupo editado correctamente.")

              resolve(this.grupos)
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })
      },

      toggle () {
        this.$nextTick(() => {
          if (this.likesAllFruit) {
            this.eventosCategoriasSeleccionados = []
          } else {
            this.eventosCategoriasSeleccionados = this.categoriasEventos.slice()
          }
        })
      },

      mostrarEventoCategoria(categoria_evento_id){
        let categoriaEvento = this.categoriasEventos.find(ce => ce.id == categoria_evento_id)

        if(categoriaEvento){
          let categoria = this.categorias.find(c => c.id == categoriaEvento.categoria_id)
          let evento = this.eventos.find(c => c.id == categoriaEvento.evento_id)
          

            if(evento && categoria)
              return evento.nombre+' ('+evento.fecha+') / '+categoria.nombre
            else
             return 'No disponible'

        }else{
          return 'No disponible'
        }
       

      }

    },
  }
</script>