<template>
    <v-card>
        <v-card-title>
            <span class="text-h5">Nueva categoria</span>
        </v-card-title>

        <v-card-text>
            <v-container>
               <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                >
                  <v-text-field
                    v-model="nombre"
                    label="Nombre"
                    :error-messages="nombreErrores" 
                    @input="$v.nombre.$touch()" 
                    @blur="$v.nombre.$touch()"
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                >
                  <v-text-field
                    v-model="color"
                    type="color"
                    label="Color"
                    :error-messages="colorErrores" 
                    @input="$v.color.$touch()" 
                    @blur="$v.color.$touch()"
                  ></v-text-field>
                </v-col>
                
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                >
                  <v-select
                      v-model="eventosSeleccionados"
                      :items="eventos"
                      label="Seleccione Eventos"
                      multiple
                      item-text="nombre"
                      item-value="id"
                      return-object
                      :error-messages="eventosSeleccionadosErrores" 
                      @input="$v.eventosSeleccionados.$touch()" 
                      @blur="$v.eventosSeleccionados.$touch()"
                      >
                      <template v-slot:prepend-item>
                          <v-list-item
                          ripple
                          @click="toggle"
                          >
                          <v-list-item-action>
                              <v-icon :color="eventosSeleccionados.length > 0 ? 'indigo darken-4' : ''">
                              {{ icon }}
                              </v-icon>
                          </v-list-item-action>
                          <v-list-item-content>
                              <v-list-item-title>
                              Seleccione todos
                              </v-list-item-title>
                          </v-list-item-content>
                          </v-list-item>
                          <v-divider class="mt-2"></v-divider>
                      </template>
                      <template v-slot:append-item>
                          <v-divider class="mb-2"></v-divider>
                          <v-list-item disabled>
                      

                          <v-list-item-content v-if="likesAllFruit">
                              <v-list-item-title>
                              Eventos seleccionados
                              </v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-content v-else-if="likesSomeFruit">
                              <v-list-item-title>
                              Evento seleccionado - {{ eventosSeleccionados.length }}
                              </v-list-item-title>
                              
                          </v-list-item-content>

                          <v-list-item-content v-else>
                              <v-list-item-title>
                              Debe seleccionar algún evento
                              </v-list-item-title>
                              
                          </v-list-item-content>
                          </v-list-item>
                      </template>
                  </v-select>
                </v-col>
                 
             </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            color="blue darken-1"
            text
            @click="cancelar"
            >
            Cancelar
            </v-btn>
            <v-btn
            color="blue darken-1"
            text
            @click="save"
            >
            Guardar
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      show2: false,
      categorias: [],
      editedIndex: -1,
      nombre: null,
      color: null,
      eventosSeleccionados: [],
      
      editedItem: {
        nombre: null,
        color: null,
        eventosSeleccionados: [],
      },
      eventos: [],
     
    }),

    validations() {
     
      return {
        nombre: { required },
        color: { required },
        eventosSeleccionados: { required },
      }
    },

    computed: {
      
      nombreErrores () {
        const errors = []
        if (!this.$v.nombre.$dirty) return errors
        !this.$v.nombre.required && errors.push('El campo Nombre es obligatorio.')
        return errors
      },
      colorErrores() {
        const errors = []
        if (!this.$v.color.$dirty) return errors
        !this.$v.color.required && errors.push('El campo Color es obligatorio.')
        return errors
      },
      eventosSeleccionadosErrores (){
        const errors = []
        if (!this.$v.eventosSeleccionados.$dirty) return errors
        !this.$v.eventosSeleccionados.required && errors.push('El campo Eventos es obligatorio.')
        return errors
      },
      likesAllFruit () {
        return this.eventosSeleccionados.length === this.eventos.length
      },
      likesSomeFruit () {
        return this.eventosSeleccionados.length > 0 && !this.likesAllFruit
      },
      icon () {
        if (this.likesAllFruit) return 'mdi-close-box'
        if (this.likesSomeFruit) return 'mdi-minus-box'
        return 'mdi-checkbox-blank-outline'
      },
    },

    created () {
      this.initialize()

    },

    methods: {

        initialize () {

          axios
          .get('/api/categorias', {
              headers: { Authorization: "Bearer " + this.$store.state.token }
            })
          .then(response => {
            this.categorias = response.data[0]
            this.eventos = response.data[1]
          });
        },

        cancelar()
        {
            this.$router.push({ path: `/admin/categorias` })
        },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            nombre : this.nombre,
            color : this.color,
            eventosSeleccionados : this.eventosSeleccionados,
          }
          
          this.create(editedItem)
            
        }
      },

      create (editedItem) {

         return new Promise((resolve, reject) => {
          axios.post('/api/categorias', editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              this.categorias.push(editedItem)
              this.cancelar()
              this.$toastr.s("Nueva categoría registrada correctamente.")

              resolve(this.categorias)
            })
            .catch(error => {
              reject(error)
              this.$toastr.e("Error al crear categoría.")

            })
        })
      },

      toggle () {
        this.$nextTick(() => {
          if (this.likesAllFruit) {
            this.eventosSeleccionados = []
          } else {
            this.eventosSeleccionados = this.eventos.slice()
          }
        })
      },
    },
  }
</script>
