<template>
  <v-data-table
    :headers="headers"
    :items="categorias"
    sort-by="nombre"
    class="elevation-1"
    :no-results-text="'No se encontraron datos'"
    :no-data-text="'Sin resultados'"
  >

    <template v-slot:item.color="{ item }">
      <v-chip
        :style="'background-color: '+item.color"
        label
      >
        
      </v-chip>
    </template>
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Categorías</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>

        <!-- FORMULARIO -->
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="nuevo()"
            >
              Nueva categoría
            </v-btn>
          </template>

          
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-text-field
                      v-model="nombre"
                      label="Nombre"
                      :error-messages="nombreErrores" 
                      @input="$v.nombre.$touch()" 
                      @blur="$v.nombre.$touch()"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="6"
                  >
                    <v-text-field
                      v-model="color"
                      type="color"
                      label="Color"
                      :error-messages="colorErrores" 
                      @input="$v.color.$touch()" 
                      @blur="$v.color.$touch()"
                    ></v-text-field>
                  </v-col>
                 
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                    <v-select
                        v-model="eventosSeleccionados"
                        :items="eventos"
                        label="Seleccione Eventos"
                        multiple
                        item-text="nombre"
                        item-value="id"
                        return-object
                        :error-messages="eventosSeleccionadosErrores" 
                        @input="$v.eventosSeleccionados.$touch()" 
                        @blur="$v.eventosSeleccionados.$touch()"
                        >
                        <template v-slot:prepend-item>
                            <v-list-item
                            ripple
                            @click="toggle"
                            >
                            <v-list-item-action>
                                <v-icon :color="eventosSeleccionados.length > 0 ? 'indigo darken-4' : ''">
                                {{ icon }}
                                </v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                Seleccione todos
                                </v-list-item-title>
                            </v-list-item-content>
                            </v-list-item>
                            <v-divider class="mt-2"></v-divider>
                        </template>
                        <template v-slot:append-item>
                            <v-divider class="mb-2"></v-divider>
                            <v-list-item disabled>
                        

                            <v-list-item-content v-if="likesAllFruit">
                                <v-list-item-title>
                                Eventos seleccionados
                                </v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-content v-else-if="likesSomeFruit">
                                <v-list-item-title>
                                Evento seleccionado - {{ eventosSeleccionados.length }}
                                </v-list-item-title>
                                
                            </v-list-item-content>

                            <v-list-item-content v-else>
                                <v-list-item-title>
                                Debe seleccionar algún evento
                                </v-list-item-title>
                                
                            </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-select>
                  </v-col>
                 
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">¿Estás seguro de querer eliminar?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Si</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <span>Sin registros</span>
    </template>
  </v-data-table>
</template>
<script>
  import { required, maxLength } from 'vuelidate/lib/validators'; 

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      show2: false,
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          sortable: false,
          value: 'nombre',
        },
        { text: 'Color', value: 'color', sortable: false  },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      categorias: [],
      eventos: [],
      editedIndex: -1,
      nombre: null,
      color: null,
      eventosSeleccionados: [],
      editedItem: {
        nombre: '',
        color: null,
        eventosSeleccionados: []
      },
     
    }),

    validations() {
     
      return {
        nombre: { required },
        color: { required },
        eventosSeleccionados: { required },
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva categoría' : 'Editar categoría'
      },
      nombreErrores () {
        const errors = []
        if (!this.$v.nombre.$dirty) return errors
        !this.$v.nombre.required && errors.push('El campo Nombre es obligatorio.')
        return errors
      },
      colorErrores() {
        const errors = []
        if (!this.$v.color.$dirty) return errors
        !this.$v.color.required && errors.push('El campo Color es obligatorio.')
        return errors
      },
      eventosSeleccionadosErrores (){
        const errors = []
        if (!this.$v.eventosSeleccionados.$dirty) return errors
        !this.$v.eventosSeleccionados.required && errors.push('El campo Eventos es obligatorio.')
        return errors
      },
      likesAllFruit () {
        return this.eventosSeleccionados.length === this.eventos.length
      },
      likesSomeFruit () {
        return this.eventosSeleccionados.length > 0 && !this.likesAllFruit
      },
      icon () {
        if (this.likesAllFruit) return 'mdi-close-box'
        if (this.likesSomeFruit) return 'mdi-minus-box'
        return 'mdi-checkbox-blank-outline'
      },
     
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()

    },

    methods: {
      initialize () {

        axios
        .get('/api/categorias', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.categorias = response.data[0]
          this.eventos = response.data[1]
        });
      },

      nuevo()
      {
          this.$router.push({ path: `/admin/nueva-categoria` })
      },


      editItem (item) {
        this.editedIndex = this.categorias.indexOf(item)
        // this.editedItem = Object.assign({}, item)

        let categoria = Object.assign({}, item)
        this.nombre = categoria.nombre
        this.color = categoria.color
        this.eventosSeleccionados = categoria.eventos
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.categorias.indexOf(item)
        // this.editedItem = Object.assign({}, item)
        this.dialogDelete = true

      },

      deleteItemConfirm () {

        let categoria =  this.categorias[this.editedIndex]

         axios
        .delete('/api/categorias/'+categoria.id, {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {

          this.categorias.splice(this.editedIndex, 1)
          this.closeDelete()
          this.$toastr.s("Categoría eliminada correctamente.")


        })
        .catch(error => {
          console.log(error)
          this.$toastr.e("Ocurrio un error al eliminar")

        })
        
      },

      close () {
        this.dialog = false
        this.editedIndex = -1
      },

      closeDelete () {
        this.dialogDelete = false
        this.editedIndex = -1

      },

      save () {

        this.$v.$touch();

        if (this.$v.$invalid) {
            this.$toastr.e("Algún dato introducido en el formulario no es correcto")
        } else {

          let editedItem = {
            nombre : this.nombre,
            color : this.color,
            eventosSeleccionados : this.eventosSeleccionados,
          }
           
            this.edit(editedItem)
        }
      },

      edit (editedItem) {

          //api para enviar datos del usuario a guardar
        return new Promise((resolve, reject) => {
          axios.put('/api/categorias/'+this.categorias[this.editedIndex].id, editedItem, {
              headers: { Authorization: "Bearer " + localStorage.getItem('access_token') }
            })
            .then(response => {
              Object.assign(this.categorias[this.editedIndex], editedItem)
              this.close()
              this.categorias = response.data[0]

              this.$toastr.s("Categoría editada correctamente.")

              resolve(this.categorias)
            })
            .catch(error => {
              this.$toastr.e("Ocurrio un error al editar")

              reject(error)
            })
        })
      },

      toggle () {
        this.$nextTick(() => {
          if (this.likesAllFruit) {
            this.eventosSeleccionados = []
          } else {
            this.eventosSeleccionados = this.eventos.slice()
          }
        })
      },

    },
  }
</script>