<template>
       
  <v-row md="12" class="mt-10" xs="12" justify="center">
    <p class="font-weight-bold text-center text-uppercase">
        <span class="fuente-elDoble" >
          Configuración
        </span>
    </p>
    <v-col sm="1"></v-col>
    <v-col
      cols="12"
      sm="10"
    >
      <v-card>
        
        <v-list>
          <!-- <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <v-switch
                  v-model="chat"
                  inset
                  :label="'Activar chat'"
                  style="margin-left:15px"
                ></v-switch>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item> -->

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <v-text-field
                  v-model="telefono"
                  label="Teléfono encabezado"
                  prepend-icon="mdi-phone"
                  :error-messages="telefonoErrores" 
                  @input="$v.telefono.$touch()" 
                  @blur="$v.telefono.$touch()"
                ></v-text-field>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <v-text-field
                  v-model="enlace"
                  label="Enlace tutorial"
                  prepend-icon="mdi-link"
                ></v-text-field>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <v-text-field
                    v-model="email"
                    type="email"
                    label="Correo principal"
                    prepend-icon="mdi-email-outline"
                    :error-messages="emailErrores" 
                    @input="$v.email.$touch()" 
                    @blur="$v.email.$touch()"
                ></v-text-field>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <v-text-field
                    v-model="cc"
                    type="email"
                    label="Correos adicionales Cc (deben estar separados por comas)"
                    prepend-icon="mdi-email-multiple-outline"
                    counter="500"
                    :error-messages="ccErrores" 
                    @input="$v.cc.$touch()" 
                    @blur="$v.cc.$touch()"
                ></v-text-field>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <v-file-input
                  v-model="fondoImg"
                  :rules="rules"
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="Fondo 1920 x 1200"
                ></v-file-input>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-col>
          <v-img
            :src="fondo"
          
          ></v-img>
        </v-col>

        <v-list>

          <v-divider inset></v-divider>

          <v-list-item>
         
            <v-list-item-content>
              <v-list-item-title>
                <v-file-input
                  v-model="logoImg"
                  :rules="rules"
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="Logo 350 x 75"
                ></v-file-input>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

      <v-col>
        <v-img
          width="180"
          :src="logo"
        ></v-img>
      </v-col>
        

         <v-card-actions style="display: block !important;
              text-align: right;
              margin-top: 20px!important;">
              <v-btn
                color="primary"
                text
                @click="guardar()"
              >
                Guardar
              </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>

import { required, maxLength, email } from 'vuelidate/lib/validators'; 

 const listEmails = value => {
        if (typeof value === 'undefined' || value === null || value === '') {
            return true
        }
        return /^[\W]*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4}[\W]*,{1}[\W]*)*([\w		+\-.%]+@[\w	\-.]+\.[A-Za-z]{2,4})[\W]*$/.test(value)
    }


export default {
  data: () => ({
    usuarioAutenticado: null,
    chat: false,
    fondoImg: null,
    logoImg: null,
    telefono: null,
    enlace: null,
    fondo: null,
    logo: null,
    email: null,
    copiaEmail: null,
    cc: null,
    rules: [
        value => !value || value.size < 2000000 || 'Tamaño máximo de 2 MB!',
    ],
  }),

  created () {
    this.initialize()
  },

  validations() {
     
      return {
        email: { required, email },
        cc: { listEmails, maxLength: maxLength(500) },
        telefono: { required },
      }
    },

    computed: {
      emailErrores() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('El campo Correo es obligatorio.')
        !this.$v.email.email && errors.push('Tiene que tener formato email.')
        return errors
      },

      telefonoErrores() {
        const errors = []
        if (!this.$v.telefono.$dirty) return errors
        !this.$v.telefono.required && errors.push('El campo telefono es obligatorio.')
        return errors
      },

      ccErrores () {
        const errors = []
        if (!this.$v.cc.$dirty) return errors
        !this.$v.cc.listEmails && errors.push('El campo Cc debe tener formato correo o correos separados por coma.')
        !this.$v.cc.maxLength && errors.push('El campo Cc no puede tener más de 500 caracteres')
        return errors
      },
    },

  methods: {
    initialize () {
        axios
        .get('/api/configuracion', {
            headers: { Authorization: "Bearer " + this.$store.state.token }
          })
        .then(response => {
          this.chat = response.data.chat
          this.telefono = response.data.telefono
          this.enlace = response.data.enlace
          this.email = response.data.email
          this.cc = response.data.cc
          this.fondo = '/imagenes/'+ response.data.fondo
          this.logo = '/imagenes/'+ response.data.logo
        });
      },

      convertir(cadena){
         if(cadena !== null){
              if(/\s/.test(cadena)){
              let quitarEsp = cadena.split(" ").join("");
               let array = quitarEsp.split(",")
              this.cc = array                          
              }
              else
              {
                let array = cadena.split(",")
                this.cc = array
              }
          }
          else{
            alert('campo de emails adicionales vacío')
          }
      },

    guardar(){

      this.$v.$touch();

      if (this.$v.$invalid) {
          this.$toastr.e("Algún dato introducido en el formulario no es correcto")
      }
      else{
 
          this.convertir(this.cc)

          this.chat = 0;
          let formData = new FormData();
          formData.append('chat', this.chat);
          formData.append('telefono', this.telefono);
          formData.append('enlace', this.enlace);
          formData.append('email', this.email);
          formData.append('cc', this.cc);
          formData.append('fondoImg', this.fondoImg);
          formData.append('logoImg', this.logoImg);


          const config = {
              headers: {
                  'content-type': 'multipart/form-data',
                  Authorization: "Bearer " + localStorage.getItem('access_token'),
              }
          }

          return new Promise((resolve, reject) => {
            axios.post('/api/configuracion', formData, config)
              .then(response => {
                this.fondoImg = null
                this.logoImg = null
                
                location.reload();

                // this.$toastr.s("Ha sido actualizado correctamente.")

              })
              .catch(error => {
                reject(error)
                this.$toastr.e("Error al actualizar configuración")

              })
          })
       }
    }
  }
 
}
</script>

<style scoped>
  
  
</style>